<section class="header-height">
  <div class="page-header">
    <h1>แบบสอบถาม
      <div class="pull-right" ng-show="vm.authentication.user.roles[0] ==='admin'">
        <a class="btn buttonCreate" ui-sref="quizzes.create">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <span>สร้างแบบสอบถาม</span>
        </a>
      </div>
    </h1>
  </div>
  <div class="list-group">
    <div class="row borderline2" ng-repeat="itm in vm.quizzes">
      <div class="col-md-10">
        <h1>หัวข้อ : {{itm.topic}}</h1>

        <!--<h2>คำถาม ?</h2>-->
        <div class="row" ng-repeat="quiz in itm.quizs">
          <div class="col-md-12">
            <h3>{{$index+1}}. {{quiz.question}}</h3>
          </div>
          <!--<div class="row form-group" ng-show="quiz.questiontype === 'none-choice' && vm.authentication.user.roles[0] ==='user'">
            <div class="col-md-6 marleft20">
              <input class="form-control" type="text" ng-model="quiz.choices.choice">
            </div>
          </div>-->
          <div class="row" ng-repeat="choi in quiz.choices">
            <div class="col-md-12 marleft20" ng-show="vm.authentication.user.roles[0] ==='admin'">
              <p>{{$parent.$index+1}}.{{$index+1}}. {{choi.choice}}</p>

            </div>
            <div class="col-md-12 marleft20" ng-show="vm.authentication.user.roles[0] ==='user' ">
              <p>{{$parent.$index+1}}.{{$index+1}}. {{choi.choice}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 textRight" ng-show="vm.authentication.user.roles[0] ==='admin'">
        <a class="btn btn-primary" ui-sref="quizzes.edit({ quizId: itm._id })"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="btn btn-danger" ng-click="vm.remove(itm)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
    <!--<div class="form-group" ng-show="vm.authentication.user.roles[0] ==='user' ">
      <button type="button" class="btn btn-primary btn-block">{{vm.quiz._id ? 'บันทึกรายการ' : 'บันทึกรายการ'}}</button>
    </div>-->
  </div>


  <!--<div class="list-group">
    <a ng-repeat="quiz in vm.quizzes" ui-sref="quizzes.view({ quizId: quiz._id })" class="list-group-item">

      <h4 class="list-group-item-heading" ng-bind="quiz.name"></h4>
      <label ng-bind="quiz.topic"></label>

    </a>
  </div>-->
  <div class="alert alert-warning text-center" ng-if="vm.quizzes.$resolved && !vm.quizzes.length">
    No Quizzes yet, why don't you <a ui-sref="quizzes.create">create one</a>?
  </div>
</section>