<section class="header-height">
  <div class="page-header">
    <h1>แบบสอบถาม
      <div class="pull-right" ng-show="vm.authentication.user.roles[0] ==='admin'">
        <a class="btn buttonCreate" ui-sref="quizzes.create">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <span>สร้างแบบสอบถาม</span>
        </a>
      </div>
    </h1>
  </div>
  <div class="row marginTB">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="ค้นหาคำถาม..." ng-model="topsearch" aria-describedby="sizing-addon3">
      </div>
    </div>
  </div>

  <div class="list-group">
    <div class="row borderline2" ng-repeat="itm in vm.quizzes | filter:topsearch">
      <div class="col-md-10">
        <div class="row" ng-repeat="quiz in itm.quizs" data-toggle="collapse" data-target="#{{quiz._id}}" ng-click="checked = !checked">
          <div class="row">
            <div class="col-md-12">
              <h2>
                <span title="Close" class="glyphicon glyphicon-chevron-up fontSize15" ng-show="!checked"></span>
                <span title="Open" class="glyphicon glyphicon-chevron-down fontSize15" ng-show="checked"></span> หัวข้อ :
                {{itm.topic}}
              </h2>
            </div>
          </div>
          <div class="collapse" id="{{quiz._id}}">
            <div class="col-md-12">
              <h3>{{$index+1}}. {{quiz.question}}</h3>
            </div>
            <div class="row" ng-repeat="choi in quiz.choices">
              <div class="col-md-12 marleft20" ng-show="vm.authentication.user.roles[0] ==='admin'">
                <!--<p>{{$parent.$index+1}}.{{$index+1}}. {{choi.choice}}</p>-->
                <p>{{$index+1}}. {{choi.choice}}</p>

              </div>
              <div class="col-md-12 marleft20" ng-show="vm.authentication.user.roles[0] ==='user' ">
                <!--<p>{{$parent.$index+1}}.{{$index+1}}. {{choi.choice}}</p>-->
                <p>{{$index+1}}. {{choi.choice}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 textRight" ng-show="vm.authentication.user.roles[0] ==='admin'">
        <a class="btn btn-primary" ui-sref="quizzes.edit({ quizId: itm._id })"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="btn btn-danger" ng-click="vm.remove(itm)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
      <div class="col-md-2 textRight" ng-show="vm.authentication.user.roles[0] ==='user'">
        <a class="btn btn-success" ui-sref="quizzes.answer({ quizId: itm._id })">ตอบคำถาม</a>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" ng-if="vm.quizzes.$resolved && !vm.quizzes.length">
    No Quizzes yet, why don't you <a ui-sref="quizzes.create">create one</a>?
  </div>
</section>