<section ng-init="vm.init(); vm.payment.gltype = 'AR'; vm.getDocno();" style="min-height:1600px;">
  <div class="page-header">
    <h1>{{vm.payment._id ? 'แก้ไข บัญชีขาย' : 'สร้าง บัญชีขาย'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.paymentForm" class="form-horizontal" ng-submit="vm.save(vm.form.paymentForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <label class="control-label" for="docdate">วันที่บันทึก</label>
              <input name="docdate" type="date" ng-model="vm.payment.docdate" ng-change="vm.creditdayChanged()" id="docdate" class="form-control"
                placeholder="Doc Date" required>
            </div>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="docno">เลขที่รายการ</label><br>
              <label ng-bind="vm.payment.docno"></label>
            </div>
          </div>
        </div>

        <div class="row">
          <!--จ่ายโดย credits-->
          <div class="form-group">
            <p>จ่ายให้</p>
            <table class="table">
              <thead style="background-color:lightgray;">
                <tr>
                  <th>No.</th>
                  <th>ชื่อบัญชี</th>
                  <th>รายระเอียด</th>
                  <th>จำนวนเงิน</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in vm.payment.credits">
                  <td>
                    <p>{{$index+1}}</p>
                  </td>
                  <td>
                    <select ng-options="item as item.accountname for item in vm.products | filter:{ status : '!inactive' } track by item._id "
                      ng-model="product.account" class="form-control"></select>
                  </td>
                  <td>
                    <input ng-model="product.description" class="form-control">
                  </td>
                  <td>
                    <input ng-change="vm.calcredits(credits)" type="number" ng-model="product.amount" class="form-control">
                  </td>
                  <td style="text-align:right;">
                    <button type="button" class="btn btn-danger" ng-click="vm.removeCredits($index)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-click="vm.selectedCredits()">Add</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-1" style="margin-top: -10px;">
                <h2>Total</h2>
              </div>
              <div class="col-md-3" style="text-align:right;">
                <label ng-bind="vm.payment.totalcredit | number:2" class="form-control">
                </label>
              </div>
            </div>
          </div>
          <!---->
          <!--จ่ายให้ debits-->
          <div class="form-group">
            <p>จ่ายโดย</p>
            <table class="table">
              <thead style="background-color:lightgray;">
                <tr>
                  <th>No.</th>
                  <th>ชื่อบัญชี</th>
                  <th>รายระเอียด</th>
                  <th>จำนวนเงิน</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in vm.payment.debits">
                  <td>
                    <p>{{$index+1}}</p>
                  </td>
                  <td>
                    <select ng-options="item as item.accountname for item in vm.products | filter:{ status : '!inactive' } track by item._id "
                      ng-model="product.account" class="form-control"></select>
                  </td>
                  <td>
                    <input ng-model="product.description" class="form-control">
                  </td>
                  <td>
                    <input ng-change="vm.caldebits(debits)" type="number" ng-model="product.amount" class="form-control">
                  </td>
                  <td style="text-align:right;">
                    <button type="button" class="btn btn-danger" ng-click="vm.removeDebits($index)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-click="vm.selectedDebits()">Add</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-1" style="margin-top: -10px;">
                <h2>Total</h2>
              </div>
              <div class="col-md-3" style="text-align:right;">
                <label ng-bind="vm.payment.totaldebit | number:2" class="form-control">
                </label>
              </div>
            </div>
          </div>
          <!---->

        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="Remark">Remark</label>
              <textarea name="remark" type="text" ng-model="vm.payment.remark" id="remark" class="form-control" placeholder="Remark" />
            </div>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.payment.totaldebit === 0 || vm.payment.totalcredit === 0 || vm.payment.totaldebit != vm.payment.totalcredit">{{vm.payment._id ? 'บันทึกรายการ' : 'บันทึกรายการ'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>