<section>
  <div class="page-header">
    <h1>Receipts
      <div class="pull-right" ng-hide="!vm.authentication.user">
        <a class="btn btn-primary" ui-sref="receipts.create">
          <span>Create</span>
        </a>
      </div>
    </h1>
  </div>

  <div class="list-group" ng-show="vm.receipts.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Doc No.</th>
          <th>Account Name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="receipt in vm.receipts | orderBy:'-docdate && docno' " ui-sref="receipts.view({ receiptId: receipt._id })">
          <td>
            <p class="list-group-item-heading">{{$index+1}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{receipt.docno}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{receipt.client.accountname}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{receipt.amount | number:2}}</p>
          </td>  
        </tr>
      </tbody>
    </table>
  </div>
</section>