<section style="min-height:1000px;">
  <div class="page-header">
    <h1>Gls</h1>
  </div>
  <div class="list-group" ng-show="vm.gls.length > 0">
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Batch No.</th>
            <th>Transaction</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="gl in vm.gls " ui-sref="gls.view({ glId: gl._id })">
            <td>
              <p class="list-group-item-heading">{{$index+1}}</p>
            </td>
            <td>
              <p class="list-group-item-heading" ng-bind="gl.batchno"></p>
            </td>
            <td>
              <p class="list-group-item-heading">{{gl.transaction.length}}</p>
            </td>
            <td>
              <p class="list-group-item-heading">{{gl.created | date:'dd/MM/yyyy'}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.gls.$resolved && !vm.gls.length">
    No Gls yet, why don't you <a ui-sref="gls.create">create one</a>?
  </div>
</section>