<nav class="navbar-default navbar-static-side" role="navigation" data-ng-controller="HeaderController">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <!--<div class="profile-element">-->
          <!-- Picture of user -->
          <!--<img alt="image" class="img-circle" src="img/profile_small.jpg"/>-->
          <!--<a href>
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">User</strong>
             </span>
                <span class="text-muted text-xs block">Example</span>
            </span>
          </a>-->
        <!--</div>-->
      </li>
      <!--<li ng-class="{active: $uiRoute}" ui-route="/" >
        <a href="/store"><i class="fa fa-laptop"></i> <span class="nav-label">Index</span></a>
      </li>
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu nav nav-second-level">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>-->
      <li ng-class="{active: $uiRoute}" ui-route="/" class="dropdown">
        <a href="/#/"><i class="fa fa-home"></i> <span class="nav-label">หน้าหลัก</span></a>
      </li>
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-class="{ active: $state.includes(item.state)}" class="{{item.class}}"
        ng-if="item.shouldRender(authentication.user);" ng-show="authentication.user.roles[0] !== 'deliver'">
        <a href="/#/{{item.state}}"><i class="{{item.title === 'Products' ? 'fa fa-shopping-cart' :  item.title === 'Orders' ? 'fa fa-list-alt': 'fa fa-laptop'}}"></i> <span class="nav-label">{{item.title === 'Products' ? 'เลือกซื้อสินค้า': item.title}}&nbsp;</span></a>
      </li>
       <li ng-class="{active: $uiRoute}" ui-route="/me" class="dropdown" ng-if="authentication.user">
        <a href="/#/me"><i class="fa fa-user"></i> <span class="nav-label">Me</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/assignlist" class="dropdown" ng-if="authentication.user.roles[0] === 'deliver'">
        <a href="/#/assignlist"><i class="fa fa-file-o"></i> <span class="nav-label">รายการส่งข้าว</span></a>
      </li>
    </ul>
  </div>
</nav>
