<div class="row">
    <div class="min-heigth-50"></div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h3 class="text-center" ng-show="startDay && endDay">จากวันที่ {{startDay | date:'dd/MM/yyyy'}} ถึงวันที่ {{endDay | date:'dd/MM/yyyy'}}</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--<angular-chart options="options" instance="instance"></angular-chart>-->
            <c3chart bindto-id="chart3">
                <chart-column column-id="x" column-values="{{titles.toString()}}" />
                <chart-column column-id="data1" column-name="Averages" column-color="red" column-values="{{averages.toString()}}" column-type="spline"
                />
                <chart-column column-id="data2" column-name="Sales of days" column-color="green" column-values="{{saleOfDays.toString()}}" column-type="spline"
                />
                <chart-axes values-x="x" y="data1,data2" />

                <chart-axis>
                    <chart-axis-x axis-position="outer-center" axis-label="Number by 10" axis-type="category">
                        <chart-axis-x-tick tick-rotate="50" />
                    </chart-axis-x>
                    <chart-axis-y axis-id="y" axis-position="outer-right" axis-label="" padding-top="100" padding-bottom="0" range-min="0"
                    />
                </chart-axis>
            </c3chart>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="text-center">สรุปยอดการขายรายวัน</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="check = !check">
                    <h4 class="panel-title">
                        <div class="row" data-toggle="collapse" data-parent="#accordion" href="#date" aria-expanded="true">
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div role="button" aria-controls="collapseOne">
                                    <div class="front_profile-color2 margin-bottom-10">
                                        <strong>ลำดับ</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div class="front_profile-color1 margin-bottom-10">
                                    <strong> วันที่ </strong>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                                <div class="front_profile-color1 margin-bottom-10">
                                    <strong> ยอดขาย </strong>
                                </div>
                            </div>
                        </div>
                    </h4>

                </div>
            </div>
            <div id="" class="panel-collapse collapse in fix-scroll" role="tabpanel" aria-labelledby="headingOne">
                <div class="row" ng-repeat="prod in vm.saleday | orderBy: '-date'">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        {{$index}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                        {{prod.date}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                        {{prod.amount | number:2}} บาท
                    </div>
                    <div class="min-heigth-20"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="check = !check">
                    <h4 class="panel-title">
                        <div class="row" data-toggle="collapse" data-parent="#accordion" href="#date" aria-expanded="true">
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <div role="button" aria-controls="collapseOne">
                                    <div class="front_profile-color2 margin-bottom-10">
                                        <strong>รายละเอียด</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                <div class="front_profile-color1 margin-bottom-10">
                                    <strong> มูลค่า </strong>
                                </div>
                            </div>
                        </div>
                    </h4>

                </div>
            </div>
            <div id="" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        ยอดปัจจุบัน
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right" ng-repeat="prod in vm.saleday | orderBy: '-date' | limitTo: 1">
                        {{prod.amount | number:2}} บาท
                    </div>
                    <div class="min-heigth-20"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        ยอดต่ำสุด
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        {{vm.min | number:2}} บาท
                    </div>
                    <div class="min-heigth-20"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        ยอดสูงสุด
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        {{vm.max | number:2}} บาท
                    </div>
                    <div class="min-heigth-20"></div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        ค่าเฉลี่ย
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        {{vm.avg | number:2}} บาท
                    </div>
                    <div class="min-heigth-20"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6"></div>
    </div>
    <div class="min-heigth-50"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="text-center">สรุปยอดการขายรายสินค้า</h3>
        </div>
        <div class="min-heigth-20"></div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading" ng-click="checked = !checked">
                                <h4 class="panel-title">
                                    <div class="row" data-toggle="collapse" data-parent="#accordion" href="#prod" aria-expanded="true">
                                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                                            <div role="button" aria-controls="collapseOne">
                                                <div class="front_profile-color2 margin-bottom-10">
                                                    <strong>รูป</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-md-5 text-center">
                                            <div class="front_profile-color1 margin-bottom-10">
                                                <strong> ชื่อสินค้า </strong>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                                            <div class="front_profile-color1 margin-bottom-10">
                                                <strong> จำนวน </strong>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 text-center">
                                            <div class="front_profile-color1 margin-bottom-10">
                                                <strong> มูลค่า </strong>
                                            </div>
                                        </div>
                                    </div>
                                </h4>
                            </div>
                        </div>
                        <div class="panel-collapse collapse in fix-scroll" role="tabpanel" aria-labelledby="headingOne">
                            <div class="row" ng-repeat="item in vm.saleprod | orderBy: '-amount'">
                                <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                                    <img src="{{item.item.product.images}}" alt="" width="80%">
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    {{item.item.product.name}}
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                                    {{item.qty}}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 text-right">
                                    {{item.amount | number:2}} บาท
                                </div>
                                <div class="min-heigth-20"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 ">
                    <!--<div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="300px"></div>-->
                    <div id="pie" dx-pie-chart="chartOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>