<section class="header-height-1000px" style="min-height: 800px">
  <div class="page-header">
    <h1>{{vm.transport._id ? 'Edit Transport' : 'New Transport'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.transportForm" class="form-horizontal" ng-submit="vm.save(vm.form.transportForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" show-errors>
              <label class="control-label" for="name">Name Transport</label>
              <input name="name" type="text" ng-model="vm.transport.name" id="name" class="form-control" placeholder="Name" required>
              <div ng-messages="vm.form.transportForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Transport name is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label class="control-label" for="address">Address</label>
              <input name="address" type="text" ng-model="vm.transport.address.address" id="address" class="form-control" placeholder="Address" required>
              <div ng-messages="vm.form.transportForm.address.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Address is required.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label class="control-label" for="postcode">Postcode</label>
              <input name="postcode" type="text" ng-model="vm.transport.address.postcode" id="postcode" class="form-control" placeholder="Postcode" required>
              <div ng-messages="vm.form.transportForm.postcode.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Postcode is required.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label class="control-label" for="district">District</label>
              <input name="district" type="text" ng-model="vm.transport.address.district" id="district" class="form-control" placeholder="District" required>
              <div ng-messages="vm.form.transportForm.district.$error" role="alert">
                <p class="help-block error-text" ng-message="required">District is required.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label class="control-label" for="subdistrict">Subdistrict</label>
              <input name="subdistrict" type="text" ng-model="vm.transport.address.subdistrict" id="subdistrict" class="form-control" placeholder="Subdistrict" required>
              <div ng-messages="vm.form.transportForm.subdistrict.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Subdistrict is required.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label class="control-label" for="province">Province</label>
              <input name="province" type="text" ng-model="vm.transport.address.province" id="province" class="form-control" placeholder="Province" required>
              <div ng-messages="vm.form.transportForm.province.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Province is required.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label class="control-label" for="tel">Tel</label>
              <input name="tel" type="text" ng-model="vm.transport.address.tel" id="tel" class="form-control" placeholder="Tel" required>
              <div ng-messages="vm.form.transportForm.tel.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Tel is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group" show-errors>
              <label class="control-label" for="email">Email</label>
              <input name="email" type="text" ng-model="vm.transport.address.email" id="email" class="form-control" placeholder="Email" required>
              <div ng-messages="vm.form.transportForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email is required.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">{{vm.transport._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>