.chat-message {
  margin-top: 10px;
  padding-top: 10px;
}
.chat-message:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}
.chat-message-details {
  margin-left: 10px;
}
.chat-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.right {
  position: relative;
  float: left;
  width: 62.4%;
  height: 100%;
}
.right .chat {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 35px 92px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
  height: calc(100% - 48px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}
.bubble:before {
  position: absolute;
  top: 5px;
  display: block;
  width: 10px;
  height: 6px;
  content: '\00a0';
  -webkit-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
}
.bubble.you {
  float: left;
  color: black;
  background-color: #00b0ff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
}
.bubble.you:before {
  left: -3px;
  background-color: #00b0ff;
}
.bubble.me {
  float: right;
  color: black;
  background-color:	#cccccc;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight;
}
.bubble.me:before {
  right: -3px;
  background-color: #cccccc;
}