<section class="page-height">
  <div class="page-header">
    <h1>Promotions
      <div class="pull-right" ng-hide="!vm.authentication.user" ng-if="(vm.authentication.user.roles[0] == 'admin');">
        <a class="btn btn-primary" ui-sref="promotions.create">
          <span>Create</span>
        </a>
      </div>
    </h1>
  </div>
  <div class="row hidden-xs show-sm show-md show-lg">
    <div class="col-md-12">
      <div class="row form-group alert alert-success">
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>Product Id</strong>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>Sub District</strong>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>District</strong>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>Province</strong>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>promotions</strong>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <strong>Update</strong>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <strong>Delete</strong>
        </div>
      </div>

    </div>

  </div>
  <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="promotions in vm.promotions ">
    <div class="col-md-12">
      <div class="row form-group">
        <div ng-click="vm.cliketoview(promotions)" class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="promotions.productid"></p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="promotions.subdistrict"></p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="promotions.district"></p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="promotions.province"></p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="promotions.promotions"></p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <button type="button" class="btn btn-primary" ng-click="vm.update(promotions)"><span class="glyphicon glyphicon-edit"></span></button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <button type="button" class="btn btn-danger" ng-click="vm.remove(promotions)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-repeat="promotions in vm.promotions ">
    <div class="col-md-12">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <label>Product Id : </label> <label class="list-group-item-heading" ng-bind="promotions.productid"></label><br>
          <label>Sub District : </label> <label class="list-group-item-heading" ng-bind="promotions.subdistrict"></label><br>
          <label>District : </label> <label class="list-group-item-heading" ng-bind="promotions.district"></label><br>
          <label>Province : </label> <label class="list-group-item-heading" ng-bind="promotions.province"></label><br>
          <label>promotions : </label> <label class="list-group-item-heading" ng-bind="promotions.promotions"></label>
          <div class="row fadePortrait">
            <div class="col-xs-10 text-right">
              <button type="button" class="btn btn-primary" ng-click="vm.update(promotions)"><span class="glyphicon glyphicon-edit"></span></button>
            </div>
            <div class="col-xs-1 text-right marLeft">
              <button type="button" class="btn btn-danger" ng-click="vm.remove(promotions)"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
          </div>
          <div class="row fadeLandscape">
            <div class="col-xs-11 text-right">
              <button type="button" class="btn btn-primary" ng-click="vm.update(promotions)"><span class="glyphicon glyphicon-edit"></span></button>
            </div>
            <div class="col-xs-1 text-right marLeft">
              <button type="button" class="btn btn-danger" ng-click="vm.remove(promotions)"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>