<section>
  <div class="page-header">
    <h1>Cart</h1>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row" ng-show="vm.cart.getTotalCount() !==  0">
    <div class="col-md-7">
      <div class="row">
      </div>
      <div class="row border-bottom">
        <div class="col-xs-7 col-sm-7 col-md-7">สินค้า</div>
        <div class="col-xs-2 col-sm-2 col-md-2">ราคาสินค้า</div>
        <div class="col-xs-3 col-sm-3 col-md-3">จำนวน</div>
      </div>
      <div class="row border-bottom" ng-repeat="itm in vm.cart.items">
        <div class="col-xs-7 col-sm-7 col-md-7">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 hidden-xs padding-10px">
              <img src="{{itm.product.images}}" class="img img-thumbnail img-max-min-width-height-100" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 padding-10px">
              <h4>{{itm.product.description}}</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 padding-10px">
          <h4>{{itm.price}} บาท</h4>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 padding-10px">
          <!--<h4>{{itm.qty}} ชิ้น</h4>-->
          <input type="number" ng-model="itm.qty" class="form-control" ng-change="vm.cart.save()"/>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 padding-10px">
          <a ng-click="vm.cart.removeItem(itm.product)">
            <span class="glyphicon glyphicon-remove float-rigth" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-1"> </div>
    <div class="col-md-4">
      <div class="row border-bottom">
        <div class="col-md-12">
          <h4>สรุปการสั่งซื้อ</h4>
        </div>
      </div>
      <div class="row border-bottom min-heigth-100">
        <div class="col-md-6">
          <p>มูลค่าสินค้า:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalPrice()}} บาท</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6">
          <h4>ยอดสุทธิ</h4>
        </div>
        <div class="col-md-6">
          <h4>{{vm.cart.getTotalPrice()}} บาท</h4>
        </div>
      </div>
      <div class="row" ng-hide="authentication.user || vm.cart.getTotalCount() === 0">
        <div class="col-md-12">
          <button class="btn btn-warning btn-block" ui-sref="checkout-login">ดำเนินการชำระสินค้า</button>
        </div>
      </div>
      <div class="row" ng-show="authentication.user && vm.cart.getTotalCount() !== 0">
        <div class="col-md-12">
          <button class="btn btn-warning btn-block" ui-sref="checkout-login">ดำเนินการชำระสินค้า</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="vm.cart.getTotalCount() ===  0">
    <div class="text-center margin-bottom-30 "> <label><h3> ไม่มีสินค้าในรถเข็น </h3></label>
    </div>
    <div class="text-center">
      <a class="btn btn-success " ui-sref="products.list">
        <span>เลือกซื้อสินค้าต่อ</span>
      </a>
    </div>
    <!--ไม่มีสินค้าในรถเข็น<a href="/#/products"> เลือกซื้อสินค้าต่อ-->
    </<div>
  </div>
</section>