<section class="container-fluid">
  <form name="vm.form.checkoutForm" class="form-horizontal" ng-submit="checkStep(vm.form.checkoutForm.$valid)" novalidate>
    <div class="row">
      <!--เข้าสู่ระบบหรือชำระสินค้าแบบไม่ได้เป็นสมาชิก-->
      <div class="col-md-6" ng-if="step === 1">
        <div class="row">
          <h3>เข้าสู่ระบบหรือชำระสินค้าแบบไม่ได้เป็นสมาชิก</h3>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group" show-errors ng-if="!vm.isMember">
              <label class="control-label" for="pass">กรุณาใส่ อีเมล์ ของท่าน</label>
              <input name="email" type="email" id="email" class="form-control" ng-model="authentication.email" placeholder="E-mail" required>
              <div ng-messages="vm.form.checkoutForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">E-mail is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors ng-if="vm.isMember">
              <label class="control-label" for="pass">กรุณาใส่ Username</label>
              <input name="username" type="text" id="username" class="form-control" ng-model="authentication.username" placeholder="Username"
                required>
              <div ng-messages="vm.form.checkoutForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>
            <div class="form-group">
              <div class="radio">
                <label><input type="radio" name="optradio" ng-model="vm.isMember" ng-value="false">ดำเนินการต่อโดยไม่ต้องใช้รหัสผ่าน</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" ng-model="vm.isMember" ng-value="true">ฉันมีบัญชีผู้ใช้อยู่แล้ว</label>
              </div>
            </div>
            <div class="form-group" ng-show="vm.isMember">
              <label class="control-label" for="pass">กรุณากรอกรหัสผ่าน</label>
              <input name="pass" type="password" id="pass" ng-model="authentication.password" class="form-control" placeholder="password">
              <div class="text-right">
                <a href="">ลืมรหัสผ่าน?</a>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" ng-click="vm.signup()" class="btn btn-warning btn-block">ดำเนินการต่อ</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6" ng-if="step === 2">
        <div class="row">
          <div class="col-xs-12">
            <h4>ที่อยู่ที่จะจัดส่ง</h4>
          </div>
        </div>
        <!--ที่อยู่ที่จะจัดส่ง กรณียังไม่ login-->
        <div class="row" ng-hide="authentication.user">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="pass">ชื่อ</label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input name="name" type="text" id="name" ng-model="authentication.firstName" class="form-control" placeholder="Name" required>
                  <div ng-messages="vm.form.checkoutForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Name is required.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="pass">นามสกุล</label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input name="lastname" type="text" id="lastname" ng-model="authentication.lastName" class="form-control" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="pass">ที่อยู่</label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input name="address" type="text" id="address" ng-model="authentication.address.address" class="form-control" placeholder="Address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="pass">รหัสไปรษณีย์</label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input name="postcode" type="text" id="postcode" ng-model="authentication.address.postcode" class="form-control" placeholder="Postcode">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="pass">เขต</label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input name="district" type="text" id="district" ng-model="authentication.address.district" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="pass">จังหวัด</label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input name="province" type="text" id="province" ng-model="authentication.address.province" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="pass">โทรศัพท์มือถือ</label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <input name="tel" type="text" id="tel" ng-model="authentication.address.tel" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--ที่อยู่ที่จะจัดส่ง กรณี login-->
        <div class="row container-fluid rounded address-container" ng-show="authentication.user">
          <div class="col-xs-12">
            <div class="row">
              <label for="">Theerasak</label>
            </div>
            <div class="row">
              <span>69/239 หมู่บ้านวราบดินทร์ ม.6 ต.บึงคำพร้อย ปทุมธานี/Pathum Thani - ลำลูกกา/Lum Luk ka - 12150 โทรศัพท์: 0894447208</span>
            </div>
          </div>
        </div>
        <div class="row min-height-20">

        </div>
        <div class="row header-style rounded">
          <div class="col-xs-12 col-md-12">
            <div class="form-group">
              <!--<input type="checkbox" name="bill-address" ng-model="true" ng-value="true"> <label for="">ที่อยู่สำหรับใบเสร็จ/ใบกำกับภาษี</label>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>ข้อมูลการส่งสินค้า</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            ส่งแบบธรรมดา: ฟรี
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            Get it 21 - 23 Dec 16
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" ng-if="authentication.user">
            <button type="submit" ng-click="saveOrder()" class="btn btn-warning btn-block">ดำเนินการต่อ</button>
          </div>
          <div class="col-md-6" ng-if="!authentication.user">
            <button type="submit" ng-click="vm.signup()" class="btn btn-warning btn-block">ดำเนินการต่อ</button>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>

      <!--โปรดเลือกที่อยู่ที่จะจัดส่ง กรณี login แล้ว-->


      <div class="col-md-1">

      </div>
      <div class="col-md-5" ng-show="vm.cart.getTotalCount()">
        <div class="row border-bottom">
          <div class="col-md-12">
            <h3>สรุปการสั่งซื้อ ({{vm.cart.getTotalCount()}} items)</h3>
          </div>
        </div>
        <div class="row header-style border-bottom">
          <div class="col-xs-6 col-sm-6 col-md-6 text-center">สินค้า</div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-center">จำนวน</div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-center">มูลค่าสินค้า</div>
        </div>
        <div class="row border-bottom min-height-50" ng-repeat="item in vm.cart.items">
          <div class="col-xs-6 col-sm-6 col-md-6">{{item.product.name}}</div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-right">{{item.qty}}</div>
          <div class="col-xs-3 col-sm-3col-md-3 text-right">{{item.qty * item.price}}</div>
        </div>

        <div class="row border-bottom">
          <div class="col-md-6">
            <p>มูลค่าสินค้า:</p>
          </div>
          <div class="col-md-6">
            <p>{{vm.cart.getTotalPrice()}} บาท</p>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <h4>ยอดสุทธิ</h4>
          </div>
          <div class="col-md-6">
            <h4>{{vm.cart.getTotalPrice()}} บาท</h4>
          </div>
        </div>
      </div>

      <div class="col-md-5" ng-show="vm.checkout.allQty">
        <div class="row border-bottom">
          <div class="col-md-12">
            <h3>สรุปการสั่งซื้อ ({{vm.checkout.allQty}} items)</h3>
          </div>
        </div>
        <div class="row header-style border-bottom">
          <div class="col-xs-6 col-sm-6 col-md-6 text-center">สินค้า</div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-center">จำนวน</div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-center">มูลค่าสินค้า</div>
        </div>
        <div class="row border-bottom min-height-50" ng-repeat="item in vm.checkout.items">
          <div class="col-xs-6 col-sm-6 col-md-6">{{item.product.name}}</div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-right">{{item.qty}}</div>
          <div class="col-xs-3 col-sm-3col-md-3 text-right">{{item.amount}}</div>
        </div>

        <div class="row border-bottom">
          <div class="col-md-6">
            <p>มูลค่าสินค้า:</p>
          </div>
          <div class="col-md-6">
            <p>{{vm.checkout.amount}} บาท</p>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <h4>ยอดสุทธิ</h4>
          </div>
          <div class="col-md-6">
            <h4>{{vm.checkout.amount}} บาท</h4>
          </div>
        </div>
      </div>
  </form>
</section>