<section class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <h3>เข้าสู่ระบบหรือชำระสินค้าแบบไม่ได้เป็นสมาชิก</h3>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form name="" class="form-horizontal" ng-submit="" novalidate>
            <div class="form-group">
              <label class="control-label" for="pass">กรุณาใส่ อีเมล์ ของท่าน</label>
              <input name="email" type="text" id="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="form-group">
              <div class="radio">
                <label><input type="radio" name="optradio" ng-model="vm.isMember" ng-value="false">ดำเนินการต่อโดยไม่ต้องใช้รหัสผ่าน</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" ng-model="vm.isMember" ng-value="true">ฉันมีบัญชีผู้ใช้อยู่แล้ว</label>
              </div>
            </div>
            <div class="form-group" ng-show="vm.isMember">
              <label class="control-label" for="pass">กรุณากรอกรหัสผ่าน</label>
              <input name="pass" type="password" id="pass" class="form-control" placeholder="password">
              <div class="text-right">
                <a href="">ลืมรหัสผ่าน?</a>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-warning btn-block">ดำเนินการต่อ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <div class="row border-bottom">
        <div class="col-md-12">
          <h3>สรุปการสั่งซื้อ ({{vm.cart.getTotalCount()}} items)</h3>
        </div>
      </div>
      <div class="row header-style border-bottom">
        <div class="col-xs-6 col-sm-6 col-md-6 text-center">สินค้า</div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center">จำนวน</div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center">มูลค่าสินค้า</div>
      </div>
      <div class="row border-bottom min-height-50" ng-repeat="item in vm.cart.items">
        <div class="col-xs-6 col-sm-6 col-md-6">{{item.product.name}}</div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-right">{{item.qty}}</div>
        <div class="col-xs-3 col-sm-3col-md-3 text-right">{{item.qty * item.price}}</div>
      </div>

      <div class="row border-bottom">
        <div class="col-md-6">
          <p>มูลค่าสินค้า:</p>
        </div>
        <div class="col-md-6">
          <p>{{vm.cart.getTotalPrice()}} บาท</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6">
          <h4>ยอดสุทธิ</h4>
        </div>
        <div class="col-md-6">
          <h4>{{vm.cart.getTotalPrice()}} บาท</h4>
        </div>
      </div>
    </div>
</section>