<section>
  <div class="row">
    <div class="col-md-7">
      <h3>เข้าสู่ระบบหรือชำระสินค้าแบบไม่ได้เป็นสมาชิก</h3><br>
      <hr><br>
      <div class="col-md-4">
        <label class="control-label" for="email">กรุณาใส่ อีเมล์ ของท่าน</label>
      </div>
      <div class="col-md-6">
        <form name="" class="form-horizontal" ng-submit="" novalidate>
          <div class="form-group">

            <input name="email" type="text" id="email" class="form-control" placeholder="E-mail">
            <div class="radio">
              <label><input type="radio" name="optradio">ดำเนินการต่อโดยไม่ต้องใช้รหัสผ่าน</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">ฉันมีบัญชีผู้ใช้อยู่แล้ว</label>
            </div>
            <label class="control-label" for="pass">กรุณากรอกรหัสผ่าน</label>
            <input name="pass" type="password" id="pass" class="form-control" placeholder="password">
          </div>
          <div style="text-align:right">ลืมรหัสผ่าน?</div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-warning" style="width:100%">ดำเนินการต่อ</button>
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>

    </div>
    <div class="col-md-5">
      <div class="row">
        <h3>สรุปการสั่งซื้อ (1 items)</h3><br>
        <hr><br>
        <div class="col-md-6" style="padding:0;">
          <div class="header-style">
            <strong>สินค้า</strong>
          </div>
          <div class="row"><br>
            <div class="col-md-12">
              Avarin ลู่วิ่งไฟฟ้า ลู่วิ่งฟิตเนส ลู่วิ่ง มอเตอร์ 3 แรงม้า Motorized Treadmill 3 Hp รุ่น Panther
            </div>
          </div>
        </div>
        <div class="col-md-3" style="text-align:right; padding:0;">
          <div class="header-style">
            <strong>จำนวน</strong>
          </div>
          <div class="row"><br>
            <div class="col-md-12">1</div>
          </div>
        </div>
        <div class="col-md-3" style="text-align:right; padding:0;">
          <div class="header-style">
            <strong>ราคา</strong>
          </div>
          <div class="row"><br>
            <div class="col-md-12">1600 บาท</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <strong>มูลค่าสินค้า</strong>
        </div>
        <div class="col-md-6" style="text-align:right">
          <strong>1600 บาท</strong>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h3>ยอดสุทธิ</h3> (รวมภาษีมูลค่าเพิ่ม)
        </div>
        <div class="col-md-6" style="text-align:right">
          <h3>1600 บาท</h3>
        </div>
      </div>
    </div>
  </div>
</section>