<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <h2>ซื้อสินค้าสำเร็จ! คุณจะได้รับสินค้าของภายใน 7 วัน</h2>
      </div>
      <div class="row min-height-20"></div>
      <div class="row">
        <p>คุณ {}</p>
      </div>
      <div class="row">
        <p>ทางเราขอขอบคุณที่ท่านให้ความไว้วางใจในการเลือกซื้อสินค้ากับเรา</p>
      </div>
      <div class="row">
        <p>หมายเลขสั่งซื้อสินค้า {}</p>
      </div>
      <div class="row">
        <p>ทางเราจะดำเนินการจัดส่งสินค้าไปยังที่อยู่ที่ท่านได้ให้ไว้</p>
      </div>
      <div class="row">
        <p>หากท่านพบปัญหาใด ๆ ในระหว่างการสั่งซื้อสินค้า หรือหลังจากที่ท่านได้รับสินค้าแล้ว ท่านสามารถติดต่อเราได้ตามช่องทางดังต่อไปนี้</p>
      </div>
      <div class="row">
        <p>สำหรับข้อมูลเพิ่มเติม กรุณาติดต่อแผนกบริการลูกค้า โทร: 1234567890 (ทุกวัน 9.00 - 18.00 น. ยกเว้นวันหยุดพิเศษ) หลังจากเวลาทำการของศูนย์ช่วยเหลือลูกค้า</p>
      </div>
      <div class="row">
        <p>ขอขอบคุณที่ท่านให้ความสนใจและเลือกใช้บริการจากเรา</p>
      </div>
      <div class="row">
        <p>ธรรมธุรกิจ : Thamturakit</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>สรุปยอดการสั่งซื้อสำหรับ {}, สั่งซื้อสินค้าจำนวน {} ชิ้น</h2>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <p>{}</p>
      </div>
      <div class="row">
        <p>{}</p>
      </div>
      <div class="row">
        <p>อีเมล์ยืนยันการสั่งซื้อถูกส่งแล้ว ไปที่ {}</p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4 col-md-2">
          <img src="modules/products/client/img/products/no_product.png" class="img img-thumbnail" style="max-width:100px;max-height:100px;min-height:100px;min-width:100px;"
            alt="">
        </div>
        <div class="col-xs-4 col-md-2">
          <p>{}</p>
        </div>
        <div class="col-xs-4 col-md-4">
          จัดส่ง โดย {}
        </div>
        <div class="col-xs-4 col-md-4 text-right">
          {} บาท
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="row text-right">
        <div class="col-xs-8 col-md-8 text-right">
          {} บาท
        </div>
        <div class="col-xs-4 col-md-4 text-right">
          {} บาท
        </div>
      </div>
    </div>
  </div>
</section>