<section ng-init="vm.init()" class="header-height">
    <div class="row">
        <div class="col-md-6 round1">
            <form name="vm.form.orderForm" class="form-horizontal" ng-submit="vm.save(vm.form.orderForm.$valid)" novalidate>
                <fieldset>
                    <div class="row marginTB">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2" ng-show="vm.order._id">
                                    <img src="{{vm.order.user.profileImageURL}}" class="img-circle" width="45px;">
                                </div>
                                <div class="col-md-2" ng-show="!vm.order._id">
                                    <img src="{{vm.cust.profileImageURL}}" class="img-circle" width="45px;" ng-show="vm.cust">
                                    <i class="fa fa-plus-circle fa-4x" aria-hidden="true" data-toggle="modal" data-target="#myCustomer" ng-click="vm.readCustomer()"
                                        ng-hide="vm.cust"> </i>
                                </div>
                                <div class="col-md-10">
                                    <div ng-show="!vm.order._id">
                                        <label>{{vm.cust.displayName}}</label><br>
                                    </div>
                                    <div ng-show="vm.order._id">
                                        <label>{{vm.authentication.user.displayName}}</label><br>
                                    </div>
                                    <div class="row" ng-show="!vm.order._id">
                                        <div class="col-xs-12 input-group input-group-sm">
                                            <input type="text" ng-model="vm.order.docno" class="form-control" placeholder="Doc No" aria-describedby="sizing-addon3">
                                        </div>
                                    </div>
                                    <div class="row" ng-show="vm.order._id">
                                        <div class="col-xs-12 input-group input-group-sm">
                                            <abbr>{{vm.order.docno}}</abbr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="modal fade" id="myCustomer" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">เลือกผู้ซื้อ</h4>
                                            </div>
                                            <div class="modal-body">
                                                <ul class="list-group">
                                                    <div class="row">
                                                        <div class="col-md-4">

                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group input-group-sm">
                                                                <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
                                                                <input type="text" class="form-control" placeholder="Search for user..." ng-model="topsearch" aria-describedby="sizing-addon3">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ul>
                                                <ul class="list-group">
                                                    <div ng-repeat="cust in vm.customers | filter:topsearch">
                                                        <li class="list-group-item"><img src="{{cust.profileImageURL}}" class="img-circle" width="50px">
                                                            <img width="5%"> {{cust.displayName}}
                                                            <button type="button" class="pull-right btn btn-primary" data-dismiss="modal" ng-click="vm.selectCustomer(cust)">เลือก</button></li>
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">ปิด</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="textRight" for="">วันที่สั่งจอง {{vm.order.docdate | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="row form-group alert alert-success hidden-xs show-sm show-md show-lg">
                        <div class=" col-xs-3 col-sm-3 col-md-3">
                            <strong>Product</strong>
                        </div>
                        <div class=" col-xs-2 col-sm-2 col-md-2">
                            <strong>Qty</strong>
                        </div>
                        <div class=" col-xs-3 col-sm-3 col-md-3">
                            <strong>Price</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <strong>Amount</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                        </div>
                    </div>
                    <div class="row form-group hidden-xs show-sm show-md show-lg" ng-repeat="product in vm.order.items">
                        <div class=" col-xs-3 col-sm-3 col-md-3">
                            <select name="shipping" class="form-control" ng-options="item as item.name for item in vm.products track by item._id " ng-model="product.product"
                                ng-change="vm.productChanged(product)"></select>
                        </div>
                        <div class=" col-xs-2 col-sm-2 col-md-2">
                            <input name="qty" type="number" ng-model="product.qty" id="total" class="form-control" placeholder="QTY" ng-change="vm.calculate(product)">
                        </div>
                        <div class=" col-xs-3 col-sm-3 col-md-3">
                            <input name="price" type="number" ng-model="product.product.price" id="total" class="form-control" placeholder="price">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 ">
                            {{product.amount}}
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger" ng-click="vm.removeItem($index)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <div class="row alert alert-success show-xs hidden-sm hidden-md hidden-lg">
                        <div class=" col-xs-12">
                            <strong>Product</strong>
                        </div>
                    </div>
                    <div class="row form-group show-xs hidden-sm hidden-md hidden-lg" ng-repeat="product in vm.order.items">
                        <div class="row">
                            <div class="col-xs-12">
                                <select name="shipping" class="form-control" ng-options="item as item.name for item in vm.products track by item._id " ng-model="product.product"
                                    ng-change="vm.productChanged(product)"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input name="qty" type="number" ng-model="product.qty" id="total" class="form-control textRight" placeholder="QTY" ng-change="vm.calculate(product)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input name="price" type="number" ng-model="product.product.price" id="total" class="form-control textRight" placeholder="price">
                            </div>
                        </div>

                        <div class="row fadePortrait">
                            <div class="col-xs-8">
                                <span class="form-control noneBorder">Total: {{product.amount}} </span>
                            </div>
                            <div class="col-xs-4 textCenter">
                                <button type="button" class="btn btn-danger" ng-click="vm.removeItem($index)"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </div>
                        <div class="row fadeLandscape">
                            <div class="col-xs-9 marRight">
                                <span class="form-control noneBorder">Total: {{product.amount}} </span>
                            </div>
                            <div class="col-xs-2 textRight">
                                <button type="button" class="btn btn-danger" ng-click="vm.removeItem($index)"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group show-xs hidden-sm hidden-md hidden-lg">
                        <div class="col-xs-12" ng-show="!vm.order._id || vm.order.deliverystatus === 'confirmed' || vm.order.deliverystatus === 'reject'">
                            <button type="button" class="btn btn-default btn-block btnborder" ng-click="vm.selectedProduct()">เพิ่มสินค้า</button>
                        </div>
                    </div>
                    <div class="row form-group  hidden-xs show-sm show-md show-lg">
                        <div class="col-sm-12 col-md-12" ng-show="!vm.order._id || vm.order.deliverystatus === 'confirmed' || vm.order.deliverystatus === 'reject'">
                            <button type="button" class="btn btn-default btn-block btnborder" ng-click="vm.selectedProduct()">เพิ่มสินค้า</button>
                        </div>
                    </div>
                    <div class="row form-group alert  show-xs show-sm show-md show-lg">
                        <div class="row">
                            <div class="col-md-12 form-group">
                            </div>
                            <div class="col-md-7">
                                <div class="col-md-12 ">
                                    <label class="control-label">ประเภทการส่ง</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row ">
                                    <div class="col-xs-12 input-group input-group-sm">
                                        <select ng-disabled="vm.order.deliverystatus === 'pending' || vm.order.deliverystatus === 'paid' || vm.order.deliverystatus === 'sent' || vm.order.deliverystatus === 'complete' || vm.order.deliverystatus === 'close' || vm.order.deliverystatus === 'accept'"
                                            name="singleSelect" ng-model="vm.order.delivery.deliveryid" class="form-control"
                                            aria-describedby="sizing-addon3">
                                            <option value="1">ไปรษณีย์</option>
                                            <option value="0">คนส่งข้าว</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.order.delivery.deliveryid === '1'">
                            <div class="col-md-7">
                                <div class="col-md-12 ">
                                    <label class="control-label">ค่าส่งไปรษณีย์</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row ">
                                    <div class="col-xs-12 input-group input-group-sm">
                                        <input ng-disabled="vm.order.deliverystatus === 'pending' || vm.order.deliverystatus === 'paid' || vm.order.deliverystatus === 'sent' || vm.order.deliverystatus === 'complete' || vm.order.deliverystatus === 'close' || vm.order.deliverystatus === 'accept'"
                                            type="number" ng-model="vm.order.postcost" class="form-control" placeholder="Postcost"
                                            aria-describedby="sizing-addon3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="vm.order.delivery.deliveryid === '0'">
                            <div class="col-md-7">
                                <div class="col-md-12 ">
                                    <label class="control-label">คนส่งข้าว</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row ">
                                    <div class="col-xs-12 input-group input-group-sm">
                                        <select ng-disabled="vm.order.deliverystatus === 'pending' || vm.order.deliverystatus === 'paid' || vm.order.deliverystatus === 'sent' || vm.order.deliverystatus === 'complete' || vm.order.deliverystatus === 'close' || vm.order.deliverystatus === 'accept'"
                                            name="deliver" class="form-control" ng-options="item as item.displayName for item in vm.delivers track by item._id "
                                            ng-model="vm.order.namedeliver"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="vm.order.delivery.deliveryid === '0' && (vm.order.deliverystatus =='confirmed' || vm.order.deliverystatus =='accept' || vm.order.deliverystatus =='reject')">
                            <div class="col-md-7">
                                <div class="col-md-12 ">
                                    <label class="control-label">สถานะ</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row ">

                                    <div class="col-xs-12 input-group input-group-sm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span><input ng-disabled="!vm.order.namedeliver" type="radio" name="statusorder" value="accept" ng-model="vm.order.deliverystatus"
                                                        ng-change="vm.acceptOrder($valid)"> Accept</span>
                                            </div>
                                            <div class="col-md-6" ng-hide="vm.order.deliverystatus =='accept'">
                                                <span><input ng-disabled="!vm.order.namedeliver" type="radio" name="statusorder" value="reject"
                                                        ng-model="vm.order.deliverystatus" ng-change="vm.rejectOrder($valid)"> Reject</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-7">
                                <div class="col-md-12 ">
                                    <label class="control-label">ส่วนลด</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row ">
                                    <div class="col-xs-12 input-group input-group-sm">
                                        <input ng-disabled="vm.order.deliverystatus === 'pending' || vm.order.deliverystatus === 'paid' || vm.order.deliverystatus === 'sent' || vm.order.deliverystatus === 'complete' || vm.order.deliverystatus === 'close' || vm.order.deliverystatus === 'accept'"
                                            type="number" ng-model="vm.order.discount" class="form-control" placeholder="Discount"
                                            aria-describedby="sizing-addon3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-7">
                                <div class="col-md-12 ">
                                    <label class="control-label">รวมสุทธิ</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row ">
                                    <div class="col-xs-12 input-group input-group-sm">
                                        <input ng-disabled="vm.order.deliverystatus === 'pending' || vm.order.deliverystatus === 'paid' || vm.order.deliverystatus === 'sent' || vm.order.deliverystatus === 'complete' || vm.order.deliverystatus === 'close' || vm.order.deliverystatus === 'accept'"
                                            type="number" ng-model="vm.order.amount" class="form-control" placeholder="Amount"
                                            aria-describedby="sizing-addon3">
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row ">
                            <div class="col-md-12 form-group">
                            </div>
                        </div>
                        <div class="row form-group" ng-show="vm.order.deliverystatus != 'reject'">
                            <div class="col-md-4 form-group">
                                <button type="submit" class="btn btn-default btn-block">{{vm.order._id ? 'ฺBack To Order' : 'Save Order'}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-12 ">
                                    <div ng-show="vm.order.deliverystatus=='paid'">
                                        <div class="container">
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">แจ้งจัดส่งพัสดุ</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <strong>{{vm.order.docno}}</strong>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <strong>{{vm.order.shipping.firstName +' '+ vm.order.shipping.lastName}}</strong>
                                                                    <p>{{vm.order.shipping.address +' '+ vm.order.shipping.subdistrict
                                                                        +' '+ vm.order.shipping.district}}</p>
                                                                    <p>{{vm.order.shipping.province +' '+ vm.order.shipping.postcode}}</p>
                                                                    <p>{{vm.order.shipping.email}}</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" placeholder="กรอกรหัสพัสดุ (ถ้ามี)" ng-model="vm.order.trackingnumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.sent($valid)">ยืนยัน</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="vm.error" class="text-danger">
                                <strong ng-bind="vm.error"></strong>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="row form-group" ng-show="vm.order.deliverystatus == 'reject'">
                <div class="col-md-12 form-group">
                    <button class="btn btn-default btn-block" ng-click="vm.updateDeliver()">Update Deliver</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 round1" ng-show="vm.order.delivery.deliveryid === '0'">
            <div class="row marginB">

                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'confirmed'">
                    <button type="text" class="btn buttonGreenForm btn-block">สถานะ : สั่งจอง</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'wait deliver'">
                    <button type="text" class="btn btn-default btn-block">สถานะ : รอคนส่งข้าว</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'sent'">
                    <button type="text" class="btn buttonBlackForm btn-block">สถานะ : จัดส่ง</button>
                </div>


                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'accept'">
                    <button type="text" class="btn buttonSkyForm btn-block">สถานะ : ยอมรับ</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'reject'">
                    <button type="text" class="btn buttonRedForm btn-block">สถานะ : ยกเลิก</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'pending'">
                    <button type="text" class="btn buttonOrangeForm btn-block">สถานะ : รอตรวจสอบ</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'paid'">
                    <button type="text" class="btn buttonPurpleForm btn-block">สถานะ : จ่ายแล้ว</button>
                </div>

                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'complete'">
                    <button type="text" class="btn buttonBlackForm btn-block">สถานะ : สำเร็จ</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'close'">
                    <button type="text" class="btn buttonBlackForm btn-block">สถานะ : ปิดออเดอร์</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable ">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">การชำระ</a></li>
                                <li><a href="#tab2" data-toggle="tab">ที่อยู่จัดส่ง</a></li>
                            </ul>
                            <div class="tab-content" ng-hide="!vm.order._id || vm.order.deliverystatus=='reject'">
                                <div class="tab-pane active" id="tab1">
                                    <div class="row form-group" ng-hide="confirmed || vm.order.deliverystatus=='confirmed' || vm.order.deliverystatus=='pending' || vm.order.deliverystatus=='paid' || vm.order.deliverystatus=='complete' || vm.order.deliverystatus=='close'">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>ชำระแบบเต็มจำนวน</h4>
                                                <div class="col-md-2 marginT">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>จำนวนเงิน : {{vm.order.amount}}</p>
                                                    <p>วันที่ : {{vm.order.created | date: 'dd/MM/yyyy'}}</p>
                                                </div>
                                                <div class="row form-group" ng-show="vm.order.deliverystatus=='sent'">
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn buttonBlueForm btn-block">ทวงเงิน</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button ng-click="pending=true;confirmed=true" type="button" class="btn buttonGreenForm btn-block">บันทึกเอง</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="vm.order.deliverystatus=='accept'">
                                                <button type="button" class="btn buttonBlueForm btn-block" ng-click="vm.sent($valid)">แจ้งจัดส่ง</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="pending">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>บันทึกการแจ้งชำระ</h4>
                                                <div class="col-md-12">
                                                    <select name="singleSelect" ng-model="vm.order.accounting" class="form-control">
                                                                    <option value="bank">Bank</option>
                                                                    <option value="cash">Cash</option>
                                                                </select>
                                                    <p>
                                                        <input type="text" name="" class="form-control" value="{{vm.order.amount}}">
                                                    </p>
                                                    <p>
                                                        <input type="text" value="{{vm.order.created | date:'dd/MM/yyyy'}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="file" name="" value="เลือกรูป" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.firstname+' '+vm.order.shipping.lastname}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.tel}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <textarea class="form-control" cols="20" rows="3">
                                                                        {{vm.order.shipping.address + ' ' + vm.order.shipping.subdistrict+ ' ' + vm.order.shipping.district+ ' ' + vm.order.shipping.province}}
                                                                    </textarea>
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.postcode}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.email}}" class="form-control">
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-5">
                                                    <button ng-click="vm.confirmed=true;pending=false" type="button" class="btn btn-default btn-block">ยกเลิก</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button ng-click="paid=true;pending=false;vm.pending($valid)" type="button" class="btn buttonOrangeForm btn-block">แจ้งชำระ</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="paid || vm.order.deliverystatus=='pending'">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>ชำระแบบเต็มจำนวน</h4>
                                                <div class="col-md-2 marginT">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>จำนวนเงิน : {{vm.order.amount}}</p>
                                                    <p>วันที่โอน : {{vm.order.created | date: 'dd/MM/yyyy'}}</p>
                                                    <p>{{vm.order.accounting}}</p>
                                                </div>
                                                <button ng-click="paid=false;vm.paid($valid)" type="button" class="btn buttonOrangeForm btn-block">ยืนยันการชำระเงิน</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="vm.order.deliverystatus=='paid' || vm.order.deliverystatus=='complete' || vm.order.deliverystatus=='close'">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>ชำระแบบเต็มจำนวน</h4>
                                                <div class="col-md-2 marginT">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>จำนวนเงิน : {{vm.order.amount}}</p>
                                                    <p>วันที่โอน : {{vm.order.created | date: 'dd/MM/yyyy'}}</p>
                                                    <p>{{vm.order.accounting}}</p>
                                                    <p>เลขที่บัญชี : 99999999</p>
                                                    <p>ชื่อ : SARAWUT TANA</p>
                                                </div>
                                            </div>
                                            <div ng-show=" vm.order.deliverystatus=='paid'">
                                                <button type="button" ng-click="vm.complete($valid)" class="btn btn-primary btn-block">ออเดอร์สำเร็จ</button>
                                            </div>
                                            <div ng-show="vm.order.deliverystatus=='complete'">
                                                <button type="button" ng-click="vm.closeOrder($valid)" class="btn buttonBlackForm btn-block">ปิดออเดอร์</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="card card-outline-primary mb-5">
                                        <strong>ที่อยู่จัดส่ง</strong>
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.firstname + ' ' + vm.order.shipping.lastname}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.tel}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.address}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.postcode}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.email}}"></p>
                                                <h5>หมายเลขพัสดุ</h5>
                                                <p><input type="text" class="form-control" value="{{vm.order.trackingnumber}}"></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 round1" ng-show="vm.order.delivery.deliveryid === '1'">
            <div class="row marginB">
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'confirmed'">
                    <button type="text" class="btn buttonGreenForm btn-block">สถานะ : สั่งจอง</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'pending'">
                    <button type="text" class="btn buttonOrangeForm btn-block">สถานะ : รอตรวจสอบ</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'paid'">
                    <button type="text" class="btn buttonPurpleForm btn-block">สถานะ : จ่ายแล้ว</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'sent'">
                    <button type="text" class="btn buttonBlackForm btn-block">สถานะ : จัดส่ง</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'complete'">
                    <button type="text" class="btn buttonBlackForm btn-block">สถานะ : สำเร็จ</button>
                </div>
                <div class="col-md-12" ng-show="vm.order.deliverystatus === 'close'">
                    <button type="text" class="btn buttonBlackForm btn-block">สถานะ : ปิดออเดอร์</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable ">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1pos" data-toggle="tab">การชำระ</a></li>
                                <li><a href="#tab2pos" data-toggle="tab">ที่อยู่จัดส่ง</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1pos">
                                    <div class="row form-group" ng-show="vm.confirmed && vm.order.deliverystatus=='confirmed'">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>ชำระแบบเต็มจำนวน</h4>
                                                <div class="col-md-2 marginT">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>จำนวนเงิน : {{vm.order.amount}}</p>
                                                    <p>วันที่โอน : {{vm.order.created | date: 'dd/MM/yyyy'}}</p>
                                                    <p>{{vm.order.accounting}}</p>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn buttonBlueForm btn-block">ทวงเงิน</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button ng-click="pending=true;vm.confirmed=false" type="button" class="btn buttonGreenForm btn-block">บันทึกเอง</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="pending">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>บันทึกการแจ้งชำระ</h4>
                                                <div class="col-md-12">
                                                    <select name="singleSelect" ng-model="vm.order.accounting" class="form-control">
                                                                    <option value="bank">Bank</option>
                                                                    <option value="cash">Cash</option>
                                                                </select>
                                                    <p>
                                                        <input type="text" name="" class="form-control" value="{{vm.order.amount}}">
                                                    </p>
                                                    <p>
                                                        <input type="text" value="{{vm.order.created | date:'dd/MM/yyyy'}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="file" name="" value="เลือกรูป" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.firstname+' '+vm.order.shipping.lastname}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.tel}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <textarea class="form-control" cols="20" rows="3">
                                                                        {{vm.order.shipping.address + ' ' + vm.order.shipping.subdistrict+ ' ' + vm.order.shipping.district+ ' ' + vm.order.shipping.province}}
                                                                    </textarea>
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.postcode}}" class="form-control">
                                                    </p>
                                                    <p>
                                                        <input type="text" name="" value="{{vm.order.shipping.email}}" class="form-control">
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-5">
                                                    <button ng-click="vm.confirmed=true;pending=false" type="button" class="btn btn-default btn-block">ยกเลิก</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button ng-click="paid=true;pending=false;vm.pending($valid)" type="button" class="btn buttonOrangeForm btn-block">แจ้งชำระ</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="paid || vm.order.deliverystatus=='pending'">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>ชำระแบบเต็มจำนวน</h4>
                                                <div class="col-md-2 marginT">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>จำนวนเงิน : {{vm.order.amount}}</p>
                                                    <p>วันที่โอน : {{vm.order.created | date: 'dd/MM/yyyy'}}</p>
                                                    <p>{{vm.order.accounting}}</p>
                                                </div>
                                                <button ng-click="paid=false;vm.paid($valid)" type="button" class="btn buttonOrangeForm btn-block">ยืนยันการชำระเงิน</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="vm.order.deliverystatus=='paid' || vm.order.deliverystatus=='sent' || vm.order.deliverystatus=='complete' || vm.order.deliverystatus=='close'">
                                        <div class="col-md-12 alert btnborder2">
                                            <div class="row">
                                                <h4>ชำระแบบเต็มจำนวน</h4>
                                                <div class="col-md-2 marginT">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>จำนวนเงิน : {{vm.order.amount}}</p>
                                                    <p>วันที่โอน : {{vm.order.created | date: 'dd/MM/yyyy'}}</p>
                                                    <p>{{vm.order.accounting}}</p>
                                                    <p>เลขที่บัญชี : 99999999</p>
                                                    <p>ชื่อ : SARAWUT TANA</p>
                                                </div>
                                            </div>
                                            <div ng-show="vm.order.deliverystatus=='sent'">
                                                <button type="button" ng-click="vm.complete($valid)" class="btn btn-primary btn-block">ออเดอร์สำเร็จ</button>
                                            </div>
                                            <div ng-show="vm.order.deliverystatus=='complete'">
                                                <button type="button" ng-click="vm.closeOrder($valid)" class="btn buttonBlackForm btn-block">ปิดออเดอร์</button>
                                            </div>
                                            <div ng-show="vm.order.deliverystatus=='paid'">
                                                <button type="button" class="btn buttonBlueForm btn-block" data-toggle="modal" data-target="#myModal">แจ้งจัดส่ง</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2pos">
                                    <div class="card card-outline-primary mb-5">
                                        <strong>ที่อยู่จัดส่ง</strong>
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.firstname + ' ' + vm.order.shipping.lastname}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.tel}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.address}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.postcode}}"></p>
                                                <p><input type="text" class="form-control" value="{{vm.order.shipping.email}}"></p>
                                                <h5>หมายเลขพัสดุ</h5>
                                                <p><input type="text" class="form-control" value="{{vm.order.trackingnumber}}"></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="col-md-3 round1">
            <form name="vm.form.orderForm" class="form-horizontal" ng-submit="vm.save(vm.form.orderForm.$valid)" novalidate>
                <div class="col-xs-12 col-md-12 alert btnborder2">
                    <div class="row">
                        <h5>ประวัติการทำรายการ</h5>
                    </div>
                    <div class="row btnborder2" ng-repeat="status in vm.order.historystatus">
                        <div class="col-md-3">
                            <div class="row pull-right marginT25">
                                <i ng-show="status.status === 'confirmed'" class="fa fa-shopping-basket fa-2x fontGreen" aria-hidden="true"></i>
                                <i ng-show="status.status === 'pending'" class="fa fa-file-text fa-2x fontOrange" aria-hidden="true"></i>
                                <i ng-show="status.status === 'paid'" class="fa fa-money fa-2x fontPurple" aria-hidden="true"></i>
                                <i ng-show="status.status === 'sent'" class="fa fa-truck fa-2x fontDrakblue" aria-hidden="true"></i>
                                <i ng-show="status.status === 'complete'" class="fa fa-thumbs-up fa-2x fontBlue" aria-hidden="true"></i>
                                <i ng-show="status.status === 'accept'" class="fa fa-check-circle-o fa-2x fontSky" aria-hidden="true"></i>
                                <i ng-show="status.status === 'reject'" class="fa fa-ban fa-2x fontRed" aria-hidden="true"></i>
                                <i ng-show="status.status === 'close'" class="fa fa-smile-o fa-2x fontPink" aria-hidden="true"></i>
                                <i ng-show="status.status === 'wait deliver'" class="fa fa-clock-o fa-2x fontBrown" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <p>{{status.status}}</p>
                            <p>{{vm.authentication.user.firstName}}</p>
                            <p>{{status.datestatus | date: 'dd/MM/yyyy:HH:mm'}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>