<section>
  <div class="page-header">
    <h1>Orders
      <div class="pull-right" ng-hide="!vm.authentication.user">
        <a class="btn btn-primary" ui-sref="orders.create">
          <span>Create</span>
        </a>
      </div>
    </h1>
  </div>
  <div class="list-group">
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Doc No.</th>
            <th>Tel.</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in vm.orders " ui-sref="orders.view({ orderId: order._id })">
            <td>{{$index+1}}</td>
            <td>
              <p class="list-group-item-heading" ng-bind="order.docno"></p>
            </td>
            <td>
              <p class="list-group-item-heading" ng-bind="order.shipping.tel"></p>
            </td>

            <td>
              <p class="list-group-item-heading" ng-bind="order.amount"></p>
            </td>
            <td>
              <p class="list-group-item-heading" ng-bind="order.docdate | date: 'dd/MM/yyyy'"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.orders.$resolved && !vm.orders.length">
    No Orders yet, why don't you <a ui-sref="orders.create">create one</a>?
  </div>
</section>