 <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3">
        จากวันที่ : <input type="date" class="form-control" ng-model="startDay">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
        ถึงวันที่ : <input type="date" class="form-control" ng-model="endDay">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        &nbsp;<button type="button" class="btn btn-primary btn-block" ng-click="vm.getDay(startDay,endDay)">ค้นหา</button>
    </div>
</div>
 <!--จากวันที่ : <input type="date" ng-model="startDay"> ถึงวันที่ : <input type="date" ng-model="endDay">
<button ng-click="vm.getDay(startDay,endDay)">ค้นหา</button>-->
<div ng-include="'/modules/orders/client/views/chart/salereport-chart.html'"></div>
<div ng-include="'modules/orders/client/views/tablereport.html'"></div>