<section class="header-height">
  <div class="page-header hidden-xs show-sm show-md show-lg">
    <div class="pull-right" ng-show="vm.order.isCurrentUserOwner">
      <a class="btn btn-primary" ui-sref="orders.edit({ orderId: vm.order._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="ibox-content p-xl">
            <div class="row">
              <div class="col-sm-6">
                <h5>From:</h5>
                <address>
                  <strong>Cyber Advance System And Network Co.,Ltd</strong>
                  <p> 55/7 ม.11 ถ.วงแหวน-ลำลูกกา ต.บึงคำพร้อย อ.ลำลูกกา ปทุมธานี 12150<br>
                    <abbr title="Phone">Tel:</abbr> 02-150-2016 <abbr title="Fax">Fax:</abbr> 02-150-2016
                </address>
              </div>

              <div class="col-sm-6 text-right">
                <h1 ng-bind="vm.order.docno"></h1>
                <p>
                  <span ng-bind="vm.order.docdate | date:'dd/MM/yyyy'"><strong> Date :</strong></span><br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h5>To:</h5>
                <address>
                  <strong>{{vm.order.user.displayName}}</strong>
                  <p>{{vm.order.shipping.address}} {{vm.order.shipping.district}} {{vm.order.shipping.province}} {{vm.order.shipping.postcode}}</p>
                  <abbr title="Tel">Tel:</abbr> {{vm.order.shipping.tel}}<br>
                  <abbr title="Email">Email:</abbr> {{vm.order.user.email}}
                </address>
              </div>
              <div class="col-sm-6 text-right">
              </div>
            </div>
            <!--<div class="table-responsive m-t">
              <table class="table order-table">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in vm.order.items" ui-sref="order.view({ orderId: order._id })">
                    <td>
                      <div><strong>{{order.product.name}}</strong></div>
                      <small>{{order.product.description}}</small></td>
                    <td>{{order.product.price}}</td>
                    <td>{{order.qty}}</td>
                    <td>{{order.amount}}</td>

                  </tr>

                </tbody>
              </table>
            </div>-->
            <div class="row form-group alert alert-success">
              <div class="col-sm-3 col-md-3">
                <strong>Description</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>Price</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>Quantity</strong>
              </div>
              <div class="col-sm-3 col-md-3">
                <strong>Amount</strong>
              </div>
            </div>

            <div class="row form-group" ng-repeat="order in vm.order.items" ui-sref="order.view({ orderId: order._id })">
              <div class="col-sm-3 col-md-3">
                <strong>{{order.product.name}}</strong>
                <p>{{order.product.description}}</p>
              </div>
              <div class="col-sm-3 col-md-3">
                <small>{{order.product.price}}</small>
              </div>
              <div class="col-sm-3 col-md-3">
                <p>{{order.qty}}</p>
              </div>
              <div class="col-sm-3 col-md-3">
                <p>{{order.amount}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-10 textRight" ng-show="vm.order.amount > 0">
                <strong>Amount</strong>
              </div>
              <div class="col-xs-2">
                {{vm.order.amount | number:2}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-header show-xs hidden-sm hidden-md hidden-lg">
    <div class="pull-right" ng-show="vm.order.isCurrentUserOwner">
      <a class="btn btn-primary" ui-sref="orders.edit({ orderId: vm.order._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 text-right">
            <h1 ng-bind="vm.order.docno"></h1>
            <p>
              <span ng-bind="vm.order.docdate | date:'dd/MM/yyyy'"><strong> Date :</strong></span><br>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h5>From:</h5>
            <address>
                  <strong>Cyber Advance System And Network Co.,Ltd</strong>
                  <p> 55/7 ม.11 ถ.วงแหวน-ลำลูกกา ต.บึงคำพร้อย อ.ลำลูกกา ปทุมธานี 12150<br>
                    <abbr title="Phone">Tel:</abbr> 02-150-2016 <abbr title="Fax">Fax:</abbr> 02-150-2016
                </address>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h5>To:</h5>
            <address>
              <strong>{{vm.order.user.displayName}}</strong>
              <p>{{vm.order.shipping.address}} {{vm.order.shipping.district}} {{vm.order.shipping.province}} {{vm.order.shipping.postcode}}</p>
              <abbr title="Tel">Tel:</abbr> {{vm.order.shipping.tel}}<br>
              <abbr title="Email">Email:</abbr> {{vm.order.user.email}}
            </address>
          </div>
        </div>

        <div class="row show-xs hidden-sm hidden-md hidden-lg alert alert-success">
          <div class="col-md-12">
            <strong>Items</strong>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg" ng-repeat="order in vm.order.items" ui-sref="order.view({ orderId: order._id })">
          <div class="col-md-12">
            <div class="row">
              <div class="list-group">
                <div class="list-group-item list-group-item-action">
                  <div class="col-sm-4 col-md-4">
                    <strong>Product: </strong> <abbr>{{order.product.name}}</abbr>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div class="row">
                      <div class="col-sm-6">
                        <p>Price: {{order.product.price | number:2}}</p>
                      </div>
                      <div class="col-sm-6">
                        <p>Qty: {{order.qty}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <label>Total: {{order.amount | number:2}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row show-xs hidden-sm hidden-md hidden-lg">
          <div class="col-xs-10 textRight" ng-show="vm.order.amount > 0">
            <strong>Amount</strong>
          </div>
          <div class="col-xs-2">
            {{vm.order.amount | number:2}}
          </div>
        </div>
      </div>

</section>

<!--<section class="header-height">
  <div class="page-header header-height">
    <div class="pull-right" ng-show="vm.order.isCurrentUserOwner">
      <a class="btn btn-primary" ui-sref="orders.edit({ orderId: vm.order._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <div class="col-md-12">
      <div class="row">

      </div>

    </div>



</section>-->