<section>
  <div class="page-header">
    <h1>Products</h1>
  </div>
  <!--<div class="list-group">
    <a ng-repeat="product in vm.products"
       ui-sref="products.view({ productId: product._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="product.created | date:'mediumDate'"></span>
        by
        <span ng-if="product.user" ng-bind="product.user.displayName"></span>
        <span ng-if="!product.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="product.name"></h4>
    </a>
  </div>-->
   <div class="row">
    <div class="col-sm-12 col-md-4" ng-repeat="product in vm.products">
      <div class="demo-card" ui-sref="products.view({ productId: product._id })">
        <div class="card">
          <img class="card-img-top" src="/modules/products/client/img/products/no_product.png" style="width:75%"/>
          <div class="card-block">
            <h4 class="card-title">{{product.name}}</h4>
            <h6 class="card-subtitle text-muted">{{product.price}} <strong>บาท</strong></h6>
            <p class="card-text">{{product.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.products.$resolved && !vm.products.length">
    No Products yet, why don't you <a ui-sref="products.create">create one</a>?
  </div>
</section>
