<section>
  <div class="page-header">
    <h1 ng-bind="vm.product.name"></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <li class="list-group-item" ng-show="vm.product.category"><b>Category : </b><span ng-bind="vm.product.category == 'P'? 'Product' : vm.product.category == 'R'? 'Rent' : vm.product.category == 'S'? 'Service' : false "></span></li>
      <li class="list-group-item" ng-show="!vm.product.category"><b>Category : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.name"><b>Product Name : </b>{{vm.product.name}}</li>
      <li class="list-group-item" ng-show="!vm.product.name"><b>Product Name : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.description"><b>Description : </b>{{vm.product.description}}</li>
      <li class="list-group-item" ng-show="!vm.product.description"><b>Description : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.buyprice"><b>Buyprice : </b>{{vm.product.buyprice}}</li>
      <li class="list-group-item" ng-show="!vm.product.buyprice"><b>Buyprice : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.saleprice"><b>Saleprice : </b>{{vm.product.saleprice}}</li>
      <li class="list-group-item" ng-show="!vm.product.saleprice"><b>Saleprice : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.isincludevat"><b>Include vat : </b>{{vm.product.isincludevat}}</li>
      <li class="list-group-item" ng-show="!vm.product.isincludevat"><b>Include vat : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.unitname"><b>Price include vat : </b>{{vm.product.priceincludevat}}</li>
      <li class="list-group-item" ng-show="vm.product.unitname"><b>Price exclude vat : </b>{{vm.product.priceexcludevat}}</li>
      <li class="list-group-item" ng-show="vm.product.unitname"><b>Unit name : </b>{{vm.product.unitname}}</li>
      <li class="list-group-item" ng-show="!vm.product.unitname"><b>Unit name : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.saleaccount"><b>Sale Account : </b>{{vm.product.saleaccount}}</li>
      <li class="list-group-item" ng-show="!vm.product.saleaccount"><b>Sale Account : </b>-</li>
      <li class="list-group-item" ng-show="vm.product.buyaccount"><b>Buy Account : </b>{{vm.product.buyaccount}}</li>
      <li class="list-group-item" ng-show="!vm.product.buyaccount"><b>Buy Account : </b>-</li>
    </div>
  </div>
  <br>
  <div class="pull-right" ng-show="vm.product.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.product.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.product.user"
            ng-bind="vm.product.user.displayName"></span>
      <span ng-if="!vm.product.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.product.content"></p>
  <!--<strong style="font-size:18px">Category:</strong>&nbsp {{vm.product.category}}<br><br>
 <strong style="font-size:18px">Name:</strong>&nbsp {{vm.product.name}}<br><br>
<strong style="font-size:18px"> Description:</strong> &nbsp{{vm.product.description}}<br><br>
<strong style="font-size:18px"> Buyprice:</strong>&nbsp {{vm.product.buyprice}}<br><br>
<strong style="font-size:18px"> Saleprice:</strong> &nbsp{{vm.product.saleprice}}<br><br>
<strong style="font-size:18px"> Isincludevat:</strong>&nbsp {{vm.product.isincludevat}}<br><br>
<strong style="font-size:18px"> Unitname: </strong>&nbsp{{vm.product.unitname}}-->
</section>