<!--<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()"
        />
      </div>
    </div>
  </div>
  <div class="tabs-container">
    <uib-tabset>
      <uib-tab ng-repeat="tab in users">
        <uib-tab-heading>
          {{tab.roles[0]}}
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>ที่อยู่</th>
                <th>รหัสไปรษณีย์</th>
                <th>ตำบล/เขต</th>
                <th>อำเภอ</th>
                <th>จังหวัด</th>
                <th>เบอร์โทร</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users | filter:{ roles : tab.roles[0] } | filter:search" ui-sref="admin.user-edit({ userId: user._id })">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.address.address}}</td>
                <td>{{user.address.postcode}}</td>
                <td>{{user.address.subdistrict}}</td>
                <td>{{user.address.district}}</td>
                <td>{{user.address.province}}</td>
                <td>{{user.address.tel}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage"
    ng-change="pageChanged()"></pagination>
</section>-->

<section>
  <div class="page-header">
    <h1>ผู้ใช้งาน</h1>
  </div>

  <div class="row show-xs show-sm hidden-md hidden-lg marginT">
    <div class="col-xs-12">
      <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch">
    </div>
  </div>

  <div class="tab-content">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 hidden-xs hidden-sm show-md show-lg">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch" aria-describedby="sizing-addon3">
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="allActive">
      <div class="tabbable tabs-left">
        <div class="row">
          <div class="col-md-1 hidden-xs hidden-sm show-md show-lg">
            <div class="nav">
              <a href="#waitconfirmed" data-toggle="tab"><button class="thumbnail button buttonBlueSky" type="text"><span>user</span><h3>{{user.length || 0}}</h3></button></a>
              <a href="#confirmed" data-toggle="tab"><button class="thumbnail button buttonPurple" type="text"><span>deliver</span><h3>{{listconfirmed.length || 0}}</h3></button></a>
              <a href="#receipt" data-toggle="tab"><button class="thumbnail button buttonDarkblue" type="text"><span>transporter</span><h3>{{listreceipt.length || 0}}</h3></button></a>
            </div>
          </div>
          <div class="row show-xs show-sm hidden-md hidden-lg marginT">
            <div class="col-xs-4">
              <a href="#waitconfirmedmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonBlueSky">user</button></a>
            </div>
            <div class="col-xs-4">
              <a href="#confirmedmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonPurple">deliver</button></a>
            </div>
            <div class="col-xs-4">
              <a href="#receiptmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonDarkblue">transporter</button></a>
            </div>
          </div>
          <div class="col-md-11 hidden-xs hidden-sm show-md show-lg">
            <div class="tab-content">
              <div class="tab-pane" id="waitreview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>วันที่สร้าง</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in users | filter:topsearch | filter: {roles[0]: 'user'} as user"
                  ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div class="col-xs-2 col-sm-2 col-md-2">
                        <p class="list-group-item-heading" ng-bind="data.docno"></p>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2">
                        <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <p class="list-group-item-heading dotpyRank" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1">
                        <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3">
                        <p>
                          <time am-time-ago="data.created"></time>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="waitconfirmed">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>ยืนยัน</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.listwaitcomfirmed as listwaitcomfirmed">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <p class="list-group-item-heading dotpyForm" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1">
                        <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitconfirmed(data)"><span class="glyphicon glyphicon-check"></span></button>
                      </div>
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p>
                            <time am-time-ago="data.created"></time>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="confirmed">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.listconfirmed as listconfirmed">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <p class="list-group-item-heading dotpyRank" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p>
                            <time am-time-ago="data.created"></time>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="receipt">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.listreceipt as listreceipt">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <p class="list-group-item-heading dotpyRank" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p>
                            <time am-time-ago="data.created"></time>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row show-xs show-sm hidden-md hidden-lg">
            <div class="tab-content">
              <div class="tab-pane " id="waitreviewmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.listwaitreview as listwaitreview"
                  ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div>
                        <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                      </div>

                      <div>
                        <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                      </div>
                      <div>
                        <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="waitconfirmedmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.listwaitcomfirmed as listwaitcomfirmed">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                        </div>
                      </div>
                      <div class="list-group-item-heading textRight">
                        <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitconfirmed(data)"><span class="glyphicon glyphicon-check"></span></button>
                        <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="confirmedmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.listconfirmed as listconfirmed">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                        </div>
                      </div>
                      <div class="list-group-item-heading textRight">
                        <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="receiptmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.listreceipt as listreceipt">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                        </div>
                      </div>
                      <div class="list-group-item-heading textRight">
                        <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>