<section>
  <div id="pagedisable">
    <div class="row hidden-xs hidden-sm show-md show-lg">
      <div class="col-xs-3 col-sm-3 col-md-3">
        จากวันที่ : <input type="date" class="form-control" ng-model="startDay">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        ถึงวันที่ : <input type="date" class="form-control" ng-model="endDay">
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        &nbsp;<button type="button" class="btn btn-primary btn-block" ng-click="vm.getDay(startDay,endDay)">ค้นหา</button>
      </div>
      <!--<div class="col-xs-3 col-sm-3 col-md-3 text-right">
            <div class="pull-right">
                <button class="btn btn-success fa fa-download" data-toggle="modal" data-target="#myReport" ng-click="sendNull()"></button>
            </div>
        </div>-->

    </div>
    <div class="row show-xs show-sm hidden-md hidden-lg">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          จากวันที่ :
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <input type="date" class="form-control" ng-model="startDay">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          ถึงวันที่ :
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <input type="date" class="form-control" ng-model="endDay">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <button type="button" class="btn btn-primary btn-block" ng-click="vm.getDay(startDay,endDay)">ค้นหา</button>
        </div>
      </div>


      <!--<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
          <button class="btn btn-success  btn-block" data-toggle="modal" data-target="#myReport" ng-click="sendNull()">ดูข้อมูลรายงาน</button>
        </div>
      </div>-->
    </div>
  </div>
</section>

<section class="header-height">
  <div class="row text-center">
    <div>
      <address>
        <h5>บริษัท ธรรมธุรกิจ เทรดดิ้ง จำกัด</h5>
        <strong>รายงานงบดุล</strong>
        <p>ระหว่างวันที่ {{startDay | date:'dd/MM/yyyy'}} ถึงวันที่ {{endDay | date:'dd/MM/yyyy'}}</p>
      </address>
    </div>
  </div>

  <div class="table-responsive m-t">
    <table class="table">
      <tbody>
        <tr>
          <td width="5%"><label class="bordertable">สินทรัพย์</label></td>
          <td width="5%"></td>
          <td colspan="4"></td>
        </tr>
        <tr ng-repeat="asset in vm.listbalances.assets.trns">
          <td></td>
          <td></td>
          <td>{{asset.accountno}} &nbsp; &nbsp; {{asset.accountname}}</td>
          <td></td>
          <td class="text-right">{{asset.summary | number:2}}</td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <td colspan="3"></td>
        <td width="20%">รวมสินทรัพย์</td>
        <td class="bordertable text-right">{{vm.listbalances.assets.summary | number:2}}</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="table-responsive m-t">
    <table class="table">
      <tbody>
        <tr>
          <td width="5%"><label class="bordertable">หนี้สิน</label></td>
          <td width="5%"></td>
          <td colspan="4"></td>
        </tr>
        <tr ng-repeat="payable in vm.listbalances.payable.trns">
          <td></td>
          <td></td>
          <td>{{payable.accountno}} &nbsp; &nbsp; {{payable.accountname}}</td>
          <td></td>
          <td class="text-right">{{payable.summary | number:2}}</td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <td colspan="3"></td>
        <td width="20%">รวมหนี้สิน</td>
        <td class="bordertable text-right">{{vm.listbalances.payable.summary | number:2}}</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="table-responsive m-t">
    <table class="table">
      <tbody>
        <tr>
          <td colspan="6"><label class="bordertable">ทุน และ ส่วนของผู้ถือหุ้น</label></td>
        </tr>
        <tr ng-repeat="investment in vm.listbalances.investment.trns">
        <!--<tr ng-repeat="one in vm.threes">-->
          <td width="5%"></td>
          <td width="5%"></td>
          <td>{{investment.accountno}} &nbsp; &nbsp; {{investment.accountname}}</td>
          <td></td>
          <td class="text-right">{{investment.summary | number:2}}</td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <td colspan="3"></td>
        <td width="20%">รวมทุน และ ส่วนของผู้ถือหุ้น</td>
        <td class="bordertable text-right">{{vm.listbalances.investment.summary | number:2}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td width="20%">รวมหนี้สิน ทุน และ ส่วนของผู้ถือหุ้น</td>
        <td class="bordertable text-right">{{vm.listbalances.payable.summary + vm.listbalances.investment.summary | number:2}}</td>
        <td></td>
      </tr>
    </table>
  </div>
</section>