<section ng-init="vm.init()" style="min-height:1600px;">
  <div class="page-header">
    <h1>{{vm.payment._id ? 'Edit Payment' : 'New Payment'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.paymentForm" class="form-horizontal" ng-submit="vm.save(vm.form.paymentForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <label class="control-label" for="client">Client</label>
              <select name="client" id="client" class="form-control" ng-options="item as item.name for item in vm.client track by item._id "
                ng-model="vm.payment.client" ng-change="vm.selectCustomer()" style="height: 30px;" required></select>
              <div ng-messages="vm.form.paymentForm.client.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Payment Client is required.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <label class="control-label" for="docno">Doc No</label>
              <input name="docno" type="text" ng-model="vm.payment.docno" id="docno" class="form-control" placeholder="Doc No" required>
              <div ng-messages="vm.form.paymentForm.docno.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Payment docdate is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="address">Address</label>
              <textarea name="docdate" type="text" ng-model="vm.payment.client.address" id="address" class="form-control" placeholder="Address"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="brunch">Brunch</label>
              <input name="docdate" type="text" ng-model="vm.payment.client.brunch" id="brunch" class="form-control" placeholder="Brunch">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="taxid">Tax ID</label>
              <input name="docdate" type="text" ng-model="vm.payment.client.taxid" id="taxid" class="form-control" placeholder="Tax ID">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="docdate">Doc Date</label>
              <input name="docdate" type="date" ng-model="vm.payment.docdate" ng-change="vm.creditdayChanged()" id="docdate" class="form-control"
                placeholder="Doc Date">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="telofficeno">Phone</label>
              <input name="telofficeno" type="text" ng-model="vm.payment.client.telofficeno" id="telofficeno" class="form-control" placeholder="Phone">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="creditday">Credit Day</label>
              <input name="creditday" type="number" ng-model="vm.payment.creditday" ng-change="vm.creditdayChanged()" id="creditday" class="form-control"
                placeholder="Credit Day">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="refno">Ref No</label>
              <input name="refno" type="text" ng-model="vm.payment.refno" id="refno" class="form-control" placeholder="Ref No">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="drilldate">Drill Date</label>
              <input name="drildate" type="date" ng-model="vm.payment.drilldate" id="drildate" class="form-control" placeholder="Drill Date"
                readonly>
            </div>
            <div class="form-group">
              <label class="control-label" for="refno">Is Include Vat</label>
              <input name="isincludevat" type="checkbox" value=false ng-model="vm.payment.isincludevat" id="isincludevat">
            </div>
          </div>
        </div>
        <div class="form-group">
          <table class="table">
            <thead style="background-color:lightgray;">
              <tr>
                <th>No.</th>
                <th>Product name</th>
                <th>QTY</th>
                <th>Price</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in vm.payment.items">
                <td>
                  <p>{{$index+1}}</p>
                </td>
                <td><select name="client" ng-options="item as item.name for item in vm.products track by item._id " ng-model="product.product"
                    ng-change="vm.changeUnitPrice(product)"></select></td>
                <td><input name="qty" type="number" ng-model="product.qty" id="total" class="form-control" placeholder="QTY"
                    ng-change="vm.calculate(product)"></td>
                <td><input name="unitprice" type="number" ng-change="vm.calculate(product)" ng-model="product.unitprice" id="total"
                    class="form-control" placeholder="price"></td>
                <td>
                  <p>{{product.amount}}</p>
                </td>
                <td style="text-align:right;">
                  <button type="button" class="btn btn-danger" ng-click="vm.removeProduct($index)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-default" ng-click="vm.selectedProduct()" ng-hide="vm.payment.items.length > 0 && vm.payment.items[0].product.name == undefined || vm.payment.items.length > 0 && vm.payment.items[vm.payment.items.length - 1].product.name == undefined">Add</button>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label>Payment </label>
              <select class="form-control" ng-model="vm.payment.paymentstated">
                <option ng-value="10100">10100-Cash</option>
                <option ng-value="20200">20200-Credit</option>
                <option ng-value="10110">10110-Cheque</option>
              </select>
              <br>
              <div ng-show="vm.payment.paymentstated == 'Credit' || vm.payment.paymentstated == 'Cheque'">
                <input name="paymentrefno" type="text" ng-model="vm.payment.paymentrefno" id="paymentrefno" class="form-control" placeholder="Payment Ref no">
              </div>
            </div>
          </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="control-label" for="amount">Amount</label>
              <p ng-bind="vm.payment.amount" />
            </div>
            <div class="form-group">
              <label class="control-label" for="discountamount">Discount amount</label>
              <input name="discountamount" type="number" ng-model="vm.payment.discountamount" id="discountamount" class="form-control"
                placeholder="Discount amount">
            </div>
            <div class="form-group" ng-show="vm.payment.discountamount">
              <label class="control-label" for="amount">Amount after discount</label>
              <p ng-bind="vm.payment.amountafterdiscount" />-
            </div>
            <div class="form-group">
              <label class="control-label" for="vatamount">Vat Amount</label>
              <p ng-bind="vm.payment.vatamount" />
            </div>
            <div class="form-group">
              <label class="control-label" for="vatamount">Wht Amount</label>
              <p ng-bind="vm.payment.whtamount" />
            </div>
            <div class="form-group">
              <label class="control-label" for="vatamount">Total Amount</label>
              <p ng-bind="vm.payment.totalamount" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">{{vm.payment._id ? 'Update' : 'Create'}}</button>
            </div>
            <div ng-show="vm.error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>