<section ng-init="vm.init()" style="min-height:1600px;">
  <div class="page-header">
    <h1>{{vm.payment._id ? 'Edit Payment' : 'New Payment'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.paymentForm" class="form-horizontal" ng-submit="vm.save(vm.form.paymentForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="docdate">วันที่บันทึก</label>
              <input name="docdate" type="date" ng-model="vm.payment.docdate" ng-change="vm.creditdayChanged()" id="docdate" class="form-control"
                placeholder="Doc Date">
            </div>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <label class="control-label" for="docno">เลขที่รายการ</label>
              <input name="docno" type="text" ng-model="vm.payment.docno" id="docno" class="form-control" placeholder="Doc No" required>
              <div ng-messages="vm.form.paymentForm.docno.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Payment docdate is required.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!--จ่ายให้ payfor-->
          <div class="form-group">
            <p>จ่ายให้</p>
            <table class="table">
              <thead style="background-color:lightgray;">
                <tr>
                  <th>No.</th>
                  <th>ชื่อบัญชี</th>
                  <th>รายระเอียด</th>
                  <th>จำนวนเงิน</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in vm.payment.payfor">
                  <td>
                    <p>{{$index+1}}</p>
                  </td>
                  <td>
                    <select ng-options="item as item.accountname for item in vm.products | filter:{ status : '!inactive' } track by item._id "
                      ng-model="product.paytype" class="form-control"></select>
                  </td>
                  <td>
                    <input ng-model="product.description" class="form-control">
                  </td>
                  <td>
                    <input ng-change="vm.calpayfor(payfor)" type="number" ng-model="product.amount" class="form-control">
                  </td>
                  <td style="text-align:right;">
                    <button type="button" class="btn btn-danger" ng-click="vm.removePayfor($index)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-click="vm.selectedPayfor()">Add</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-1" style="margin-top: -10px;">
                <h2>Total</h2>
              </div>
              <div class="col-md-3" style="text-align:right;">
                <label ng-bind="vm.payment.totalamountpayfor | number:2" class="form-control">
                </label>
              </div>
            </div>
          </div>
          <!---->
          <!--จ่ายโดย payby-->
         <div class="form-group">
            <p>จ่ายโดย</p>
            <table class="table">
              <thead style="background-color:lightgray;">
                <tr>
                  <th>No.</th>
                  <th>ชื่อบัญชี</th>
                  <th>รายระเอียด</th>
                  <th>จำนวนเงิน</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in vm.payment.payby">
                  <td>
                    <p>{{$index+1}}</p>
                  </td>
                  <td>
                    <select ng-options="item as item.accountname for item in vm.products | filter:{ status : '!inactive' } track by item._id "
                      ng-model="product.paytype" class="form-control"></select>
                  </td>
                  <td>
                    <input ng-model="product.description" class="form-control">
                  </td>
                  <td>
                    <input ng-change="vm.calpayby(payby)" type="number" ng-model="product.amount" class="form-control">
                  </td>
                  <td style="text-align:right;">
                    <button type="button" class="btn btn-danger" ng-click="vm.removePayfor($index)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-default" ng-click="vm.selectedPayby()">Add</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-1" style="margin-top: -10px;">
                <h2>Total</h2>
              </div>
              <div class="col-md-3" style="text-align:right;">
                <label ng-bind="vm.payment.totalamountpayby | number:2" class="form-control">
                </label>
              </div>
            </div>
          </div>
          <!---->
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="Remark">Remark</label>
              <textarea name="remark" type="text" ng-model="vm.payment.remark" id="remark" class="form-control" placeholder="Remark" />
            </div>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.purchase._id ? 'Update' : 'Create'}} </button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>