<section>
  <div class="page-header">
    <h1>Payments</h1>
  </div>
  <div class="list-group" ng-show="vm.payments.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Doc No</th>
          <th>Customer</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payments in vm.payments" ui-sref="payments.view({ paymentId: payments._id })">
          <td>
            <p class="list-group-item-heading">{{$index+1}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{payments.docno}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{payments.client.name}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{payments.amount}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.payments.$resolved && !vm.payments.length">
    No Payments yet, why don't you <a ui-sref="payments.create">create one</a>?
  </div>
</section>