<section>
  <div class="page-header">
    <h1>รายการใบแจ้งหนี้</h1>
  </div>

  <div class="row show-xs show-sm hidden-md hidden-lg marginT">
    <div class="col-xs-8">
      <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch">
    </div>
    <div class="col-xs-4">
      <a class="btn buttonCreate" ui-sref="accuralreceipts.create">
        <span>สร้างใหม่</span>
      </a>
    </div>
  </div>

  <div class="tab-content">
    <div class="row">
      <div class="col-md-5">

      </div>
      <div class="col-md-5 hidden-xs hidden-sm show-md show-lg">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch" aria-describedby="sizing-addon3">
        </div>
      </div>
      <div class="col-md-2 hidden-xs hidden-sm show-md show-lg">
        <div class="textCenter">
          <a class="btn buttonCreate" ui-sref="accuralreceipts.create">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <span>สร้างใหม่</span>
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="allActive">
      <div class="tabbable tabs-left">
        <div class="row">
          <div class="col-md-1 hidden-xs hidden-sm show-md show-lg">
            <div class="nav">
              <a href="#waitreview" data-toggle="tab"><button class="thumbnail button buttonGreen" type="text"><span>รอตรวจสอบ</span><h3>{{waitreview.length || 0}}</h3></button></a>
              <a href="#waitconfirmed" data-toggle="tab"><button class="thumbnail button buttonBlueSky" type="text"><span>รอยืนยัน</span><h3>{{waitconfirmed.length || 0}}</h3></button></a>
              <a href="#confirmed" data-toggle="tab"><button class="thumbnail button buttonPurple" type="text"><span>ยืนยันแล้ว</span><h3>{{confirmed.length || 0}}</h3></button></a>
              <a href="#receipt" data-toggle="tab"><button class="thumbnail button buttonDarkblue" type="text"><span>รับเงินแล้ว</span><h3>{{receipt.length || 0}}</h3></button></a>
            </div>
          </div>
          <!---->
          <div class="row show-xs show-sm hidden-md hidden-lg marginT">
            <div class="col-xs-3">
              <a href="#waitreviewmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonGreen">รอตรวจสอบ</button></a>
            </div>
            <div class="col-xs-3">
              <a href="#waitconfirmedmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonBlueSky">รอยืนยัน</button></a>
            </div>
            <div class="col-xs-3">
              <a href="#confirmedmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonPurple">ยืนยันแล้ว</button></a>
            </div>
            <div class="col-xs-3">
              <a href="#receiptmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonDarkblue">รับเงินแล้ว</button></a>
            </div>
          </div>

          <!---->
          <div class="col-md-11 hidden-xs hidden-sm show-md show-lg">
            <!--tap-->
            <div class="tab-content">
              <div class="tab-pane active" id="waitreview">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ที่อยู่</strong>
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รอยืนยัน</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>ลบ</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'wait for review'} as waitreview">
                  <div class="col-md-12">

                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading dotpy" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1">
                        <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitreview(data)"><span class="glyphicon glyphicon-check"></span></button>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1 marleft">
                        <button type="button" class="btn btn-danger" ng-click="vm.remove(data)"><span class="glyphicon glyphicon-trash"></span></button>
                      </div>
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <time am-time-ago="data.created"></time>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="waitconfirmed">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs- col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'wait for confirmed'} as waitconfirmed">
                  <div class="col-md-12">
                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <p class="list-group-item-heading dotpyRank" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <time am-time-ago="data.created"></time>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="confirmed">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ลิงค์การโอน/รับเงิน</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.confirmed as confirmed">
                  <div class="container">
                    <div class="modal fade" id="myAttm" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">หลักฐานการโอนเงิน</h4>
                          </div>
                          <div class="modal-body">
                            <ul class="list-group">
                              <div class="row">
                                <div class="col-md-12">
                                  <p>วันที่อ้างอิง</p>
                                  <div ng-hide="data.paiddate">
                                    <input type="date" class="form-control" ng-model="data.paiddate">
                                  </div>
                                  <div ng-show="data._id && data.paiddate">
                                    <span ng-bind="data.paiddate | date:'dd/MM/yyyy'"></span>&nbsp;&nbsp;<button type="text"
                                      ng-click="data.paiddate = null">Edit</button>
                                  </div>

                                </div>
                                <div class="col-md-12">
                                  <p>หลักฐานการโอนเงิน</p>
                                  <textarea rows="2" class="form-control" ng-model="data.attm" placeholder="หลักฐานการโอนเงิน">
                                  </textarea>
                                </div>
                              </div>
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" ng-click="vm.addattm(data)">ตกลง</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading dotpy" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myAttm"><span class="glyphicon glyphicon-new-window"></span></button>

                        <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitreceipt(data)"><span class="glyphicon glyphicon-check"></span></button>
                      </div>
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <time am-time-ago="data.created"></time>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="receipt">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">

                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>รหัสใบแจ้งหนี้</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อคนส่งข้าว</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>รวม</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สร้าง</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'receipt'} as receipt">
                  <div class="col-md-12">
                    <div class="row form-group">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.docno"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="data.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <p class="list-group-item-heading dotpyRank" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <p class="list-group-item-heading" ng-bind="data.totalamount"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <time am-time-ago="data.created"></time>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row show-xs show-sm hidden-md hidden-lg">
            <div class="tab-content">
              <div class="tab-pane active" id="waitreviewmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'wait for review'} as waitreview">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                        </div>
                      </div>
                      <div class="list-group-item-heading textRight">
                        <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitreview(data)"><span class="glyphicon glyphicon-check"></span></button>
                        <button type="button" class="btn btn-danger" ng-click="vm.remove(data)"><span class="glyphicon glyphicon-trash"></span></button>
                        <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="waitconfirmedmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'wait for confirmed'} as waitconfirmed">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                        </div>
                      </div>
                      <div class="list-group-item-heading textRight">
                        <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="confirmedmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.confirmed as confirmed">
                  <div class="container">
                    <div class="modal fade" id="myAttmmb" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">หลักฐานการโอนเงิน</h4>
                          </div>
                          <div class="modal-body">
                            <ul class="list-group">
                              <div class="row">
                                <div class="col-md-12">
                                  <p>วันที่อ้างอิง</p>
                                  <div ng-hide="data.paiddate">
                                    <input type="date" class="form-control" ng-model="data.paiddate">
                                  </div>
                                  <div ng-show="data.paiddate">
                                    <span ng-bind="data.paiddate | date:'dd/MM/yyyy'"></span>&nbsp;&nbsp;<button type="text"
                                      ng-click="data.paiddate = null">Edit</button>
                                  </div>

                                </div>
                                <div class="col-md-12">
                                  <p>หลักฐานการโอนเงิน</p>
                                  <textarea rows="2" class="form-control" ng-model="data.attm" placeholder="หลักฐานการโอนเงิน">
                                  </textarea>
                                </div>
                              </div>
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" ng-click="vm.addattm(data)">ตกลง</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                        </div>
                      </div>
                      <div class="list-group-item-heading textRight">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myAttmmb"><span class="glyphicon glyphicon-new-window"></span></button>
                        <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitreceipt(data)"><span class="glyphicon glyphicon-check"></span></button>
                        <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="receiptmb">
                <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'receipt'} as receipt">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                        </div>
                        <div>
                          <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                        </div>
                      </div>
                      <div class="list-group-item-heading textRight">
                        <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--<div class="container">
    <div class="modal fade" id="requestProduct" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">รายละเอียดสินค้า</h4>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                  <div class="input-group input-group-sm">
                  </div>
                </div>
              </div>
            </ul>
            <ul class="list-group">
              <div ng-repeat="pro in vm.requestprod.items">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">ชื่อสินค้า</div>
                    <div class="col-md-3">จำนวน</div>
                    <div class="col-md-3">ราคา</div>
                  </div>
                  <div class="row">
                    <div class="col-md-3"><img src="{{pro.product.images}}" width="50%"></div>
                    <div class="col-md-3" ng-bind="pro.product.name"></div>
                    <div class="col-md-3" ng-bind="pro.qty"></div>
                    <div class="col-md-3" ng-bind="pro.amount"></div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</section>