.header-height{
    min-height:800px !important;
}
.header-height-1000px{
    min-height:1000px !important;
}
.bg-div{
    background-color:lightgray;
}
.dotpy {
    white-space: nowrap; 
    width: 9em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.textRight{
text-align : right;
}
.textCenter{
text-align : center;
}
.noneBorder{
    border:none;
}
@media only screen and (max-width: 550px) {
    .fadeLandscape {
        display: none;
    }
}
@media only screen and (min-width: 550px) {
    .fadePortrait {
        display: none;
    }
    .marRight {
        margin-right: 19px;
    }
}

.headerBorder {
    border: 0px;
}

.button {
    width: 85px;
    height: 68px;
}

.buttonBlack {
    background-color: white; 
    color: black; 
    border-color: #3a4354;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonBlack:hover {
    background-color: #3a4354;
    color: white;
}
.buttonBlack:focus {
    background-color: #3a4354;
    color: white;
    outline : none;
}

.buttonGreen {
    background-color: white; 
    color: black; 
    border-color: #bccc2b;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonGreen:hover {
    background-color: #bccc2b;
    color: white;
}

.buttonGreen:focus  {
    background-color: #bccc2b;
    color: white;
    outline : none;
}

.buttonOrange {
    background-color: white; 
    color: black; 
    border-color: #faa01e;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonOrange:hover {
    background-color: #faa01e;
    color: white;
}

.buttonOrange:focus  {
    background-color: #faa01e;
    color: white;
    outline : none;
}

.buttonPurple {
    background-color: white; 
    color: black; 
    border-color: #a3618d;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonPurple:hover {
    background-color: #a3618d;
    color: white;
}

.buttonPurple:focus  {
    background-color: #a3618d;
    color: white;
    outline : none;
}

.buttonDarkblue {
    background-color: white; 
    color: black; 
    border-color: #3a4354;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonDarkblue:hover {
    background-color: #3a4354;
    color: white;
}

.buttonDarkblue:focus  {
    background-color: #3a4354;
    color: white;
    outline : none;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.borderRidge {
    border: 1px solid #dddddd;
    border-radius: 5px 5px 0px 0px
}

.buttonCreate {
    background-color: #3a4354;
    color: white;
    outline : none;
}
.buttonCreate:hover {
    background-color: #3a4354;
    color: white;
    outline : none;
}