.header-height{
    min-height:800px !important;
}
.header-height-1000px{
    min-height:1000px !important;
}
.bg-div{
    background-color:lightgray;
}
.dotpy {
    white-space: nowrap; 
    width: 9em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.textRight{
text-align : right;
}
.textCenter{
text-align : center;
}
.noneBorder{
    border:none;
}
@media only screen and (max-width: 550px) {
    .fadeLandscape {
        display: none;
    }
}
@media only screen and (min-width: 550px) {
    .fadePortrait {
        display: none;
    }
    .marRight {
        margin-right: 19px;
    }
}

.headerBorder {
    border: 0px;
}

.button {
    width: 85px;
    height: 68px;
}

.buttonBlack {
    background-color: white; 
    color: black; 
    border-color: #3a4354;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonBlack:hover {
    background-color: #3a4354;
    color: white;
}
.buttonBlack:focus {
    background-color: #3a4354;
    color: white;
    outline : none;
}
.buttonBlackForm {
    background-color: #3a4354;
    color: white;
    outline : none;
}
.buttonBlackForm:hover {
    background-color: #3a4354;
    color: white;
}

.buttonRedForm {
    background-color: #ff5151;
    color: white;
    outline : none;
}
.buttonRedForm:hover {
    background-color: #ff5151;
    color: white;
}

.buttonSkyForm {
    background-color: #6fbaff;
    color: white;
    outline : none;
}
.buttonSkyForm:hover {
    background-color: #6fbaff;
    color: white;
}


.buttonGreen {
    background-color: white; 
    color: black; 
    border-color: #bccc2b;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonGreen:hover {
    background-color: #bccc2b;
    color: white;
}

.buttonGreen:focus  {
    background-color: #bccc2b;
    color: white;
    outline : none;
}
.buttonGrayForm  {
    background-color: gray;
    color: white;
    outline : none;
}
.buttonGrayForm:hover {
    background-color: gray;
    color: white;
}
.buttonGreenForm  {
    background-color: #bccc2b;
    color: white;
    outline : none;
}
.buttonGreenForm:hover {
    background-color: #bccc2b;
    color: white;
}
.fontBrown {
    color: brown;
}
.fontGreen  {
    color: #bccc2b;
}
.fontOrange  {
    color: #faa01e;
}
.fontPurple  {
    color: #a3618d;
}
.fontDrakblue  {
    color: #3a4354;
}
.fontBlue  {
    color: #1480e2;
}
.fontPink  {
    color: deeppink;
}
.fontRed  {
    color: #ff5151;
}
.fontSky{
    color: #6fbaff;
}

.buttonBlueForm  {
    background-color: #1480e2;
    color: white;
    outline : none;
}.buttonBlueForm:hover {
    background-color: #1480e2;
    color: white;
}



.buttonOrange {
    background-color: white; 
    color: black; 
    border-color: #faa01e;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonOrange:hover {
    background-color: #faa01e;
    color: white;
}

.buttonOrange:focus  {
    background-color: #faa01e;
    color: white;
    outline : none;
}
.buttonOrangeForm  {
    background-color: #faa01e;
    color: white;
    outline : none;
}
.buttonOrangeForm:hover {
    background-color: #faa01e;
    color: white;
}

.buttonPurple {
    background-color: white; 
    color: black; 
    border-color: #a3618d;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonPurple:hover {
    background-color: #a3618d;
    color: white;
}

.buttonPurple:focus  {
    background-color: #a3618d;
    color: white;
    outline : none;
}
.buttonPurpleForm  {
    background-color: #a3618d;
    color: white;
    outline : none;
}
.buttonPurpleForm:hover {
    background-color: #a3618d;
    color: white;
}

.buttonDarkblue {
    background-color: white; 
    color: black; 
    border-color: #3a4354;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonDarkblue:hover {
    background-color: #3a4354;
    color: white;
}

.buttonDarkblue:focus  {
    background-color: #3a4354;
    color: white;
    outline : none;
}

.buttonGray {
    background-color: white; 
    color: black; 
    border-color: gray;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonGray:hover {
    background-color: gray;
    color: white;
}

.buttonGray:focus  {
    background-color: gray;
    color: white;
    outline : none;
}

.buttonBlueSky {
    background-color: white; 
    color: black; 
    border-color: #6fbaff;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonBlueSky:hover {
    background-color: #6fbaff;
    color: white;
}

.buttonBlueSky:focus  {
    background-color: #6fbaff;
    color: white;
    outline : none;
}

.buttonRed {
    background-color: white; 
    color: black; 
    border-color: #ff5151;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
}

.buttonRed:hover {
    background-color: #ff5151;
    color: white;
}

.buttonRed:focus  {
    background-color: #ff5151;
    color: white;
    outline : none;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.borderRidge {
    border: 1px solid #dddddd;
    border-radius: 5px 5px 0px 0px
}

.buttonCreate {
    background-color: #3a4354;
    color: white;
    outline : none;
}
.buttonCreate:hover {
    background-color: #3a4354;
    color: white;
    outline : none;
}
.btnborder{
    border: dashed 2px #dddddd;
}
.btnborderRed{
    border: dashed 2px #ff5151;
}
.btnborderRed:hover {
    border: dashed 2px #ff5151;
}
.btnborder2{
    border: solid 1.5px #dddddd;
}

@media (min-width: screen-xs-min) {
    .col-xs-auto { width: auto; }
}
@media (min-width: screen-sm-min) {
    .col-sm-auto { width: auto; }
}
@media (min-width: screen-md-min) {
    .col-md-auto { width: auto; }
}
@media (min-width: screen-lg-min) {
    .col-lg-auto { width: auto; }
}

/*test*/

.status-track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  display: -ms-flexbox;
  -ms-flex-flow: row;
  text-transform: uppercase;
  font-size: 1em;
}
/*.status-track .complete {
  color: #fe8125;
}*/
.status-track .current {
  color: #ccc;
}
.status-track .future {
  color: #888;
}
.status-track > * {
  text-align: center;
  line-height: 1.9;
  flex: 2;
  -webkit-flex: 2;
  -ms-flex: 0px 2;
  position: relative;
}
.status-track > * * {
  display: block;
}
.status-track > * label {
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.2em;
}
.status-track > * i.fa {
  font-size: 1.3em;
}
.status-track > *:first-child {
  text-align: left;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 0px 1;
}
.status-track > *:not(:first-child)::before {
  display: block;
  content: "";
  position: absolute;
  left: -50%;
  right: 50%;
  top: 0.5em;
  border-top: 0.1em solid;
  margin: 0 1em;
}
.status-track > *:nth-child(2)::before {
  margin-left: 1.5em;
}
.status-track > *:last-child {
  text-align: right;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 0px 1;
}
.status-track > *:last-child::before {
  right: 0.5em;
  left: -100%;
}
.spacer {
  height: 2em;
}
body1 {
  background-color: #333;
  font-family: sans-serif;
  padding: 2em;
  font-size: 1em;
}

/*test*/
.size-status{
    font-size: 16px;
    color:green;
}

.marginTB{
    margin-top:10px; 
    margin-bottom:18px;
}

.marginB{
    margin-bottom:5px;
}

.marginT{
    margin-top:20px;
}

.marginT10{
    margin-top:10px;
}

.marginT25{
    margin-top:25px
}

.height5{
    height:50px
}

.height4{
    height:40px
}

.margin-top20px{
    margin-top: -20px;
}

.margin-top6px{
    margin-top: -6px;
}

.text-colorgray{
    color: gray;

}
.bin-color {
  color: red;
}

.font-medium{
    font-size: medium;

}

.bin-color1 {
  color: red;
    font-size: 14px;
}

.text-status-color {
  color: black;
    font-size: 14px;
  
}

.great {
	background: orangered;
	margin: 0 0 25px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;

}

.change-address {
    border-color: #2196F3!important;
    color: #000!important;
    background-color: #ddffff!important;
    padding: 1em 16px;
    border-left: 6px solid #ccc!important;

}