.header-height{
    min-height:800px !important;
}
.bg-div{
    background-color:lightgray;
}
.dotpy {
    white-space: nowrap; 
    width: 7em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.textRight{
text-align : right;
}
.textCenter{
text-align : center;
}
.noneBorder{
    border:none;
}
@media only screen and (max-width: 550px) {
    .fadeLandscape {
        display: none;
    }
}
@media only screen and (min-width: 550px) {
    .fadePortrait {
        display: none;
    }
    .marRight {
        margin-right: 19px;
    }
}