<!--<section>
  <div class="page-header">
    <h1>Marketplans</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="marketplan in vm.marketplans"
       ui-sref="marketplans.view({ marketplanId: marketplan._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="marketplan.created | date:'mediumDate'"></span>
        by
        <span ng-if="marketplan.user" ng-bind="marketplan.user.displayName"></span>
        <span ng-if="!marketplan.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="marketplan.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.marketplans.$resolved && !vm.marketplans.length">
    No Marketplans yet, why don't you <a ui-sref="marketplans.create">create one</a>?
  </div>
</section>-->
<section class="header-height">
  <div class="page-header">
    <h1>ตลาดนัดธรรมชาติ</h1>
  </div>

  <div class="row show-xs show-sm hidden-md hidden-lg marginT">
    <div class="col-xs-8">
      <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch">
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        <a class="btn buttonCreate" ui-sref="marketplans.create">
          <span>New</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row hidden-xs show-sm show-md show-lg">
    <div class="col-md-10 hidden-xs hidden-sm show-md show-lg">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch" aria-describedby="sizing-addon3">
      </div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm show-md show-lg">
      <div class="pull-right" ng-show="vm.authentication.user.roles[0] === 'admin'">
        <a class="btn buttonCreate" ui-sref="marketplans.create">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <span>สร้างใหม่</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row hidden-xs show-sm show-md show-lg">
    <div class="col-md-12">
      <div class="row form-group alert alert-info">
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>ปี พ.ศ.</strong>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <strong>ขื่อกิจกรรม</strong>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <strong>สถานที่</strong>
        </div>
        <div ng-show="vm.authentication.user.roles[0] === 'admin'">
          <div class="col-xs-2 col-sm-2 col-md-2" align="">
            <strong>วันที่เริ่ม - สิ้นสุด</strong>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1" align="">
            <strong>แก้ไข</strong>
          </div>
        </div>

        <div ng-show="vm.authentication.user.roles[0] !== 'admin'">
          <div class="col-xs-3 col-sm-3 col-md-3" align="">
            <strong>วันที่เริ่ม - สิ้นสุด</strong>
          </div>
          <!--<div class="col-xs-1 col-sm-1 col-md-1" align="">
            <strong>แก้ไข</strong>
          </div>-->
        </div>

      </div>
    </div>
  </div>
  <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="marketplan in vm.marketplans | filter:topsearch">
    <div class="col-md-12">
      <div class="row form-group">
        <div class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="marketplan.year"></p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <p class="list-group-item-heading" ng-bind="marketplan.name"></p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <p class="list-group-item-heading" ng-bind="marketplan.place"></p>
        </div>
        <div ng-show="vm.authentication.user.roles[0] === 'admin'">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <p class="list-group-item-heading">{{textStart(marketplan.startdate,marketplan.enddate)}} </p>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 marleft" align="center" ng-show="vm.authentication.user.roles[0] === 'admin'">
            <button type="button" class="btn btn-primary" ui-sref="marketplans.edit({ marketplanId: marketplan._id })"><span class="glyphicon glyphicon-edit"></span></button>
          </div>
        </div>
         <div ng-show="vm.authentication.user.roles[0] !== 'admin'">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <p class="list-group-item-heading">{{textStart(marketplan.startdate,marketplan.enddate)}} </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>