<!-- The chat view -->
<section class="header-height" ng-controller="ChatController">

  <!--mos-->
  <div class="row">
    <div class="col-md-12">
      <div class="ibox chat-view">
        <div class="ibox-title">
          <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#myAdduser"><span class="fa fa-user-plus fa-2x"></span></button>

          <h3 ng-if="!room.users">&nbsp;&nbsp;&nbsp;</h3>
          <h3 ng-repeat="user in room.users | filter:{ _id : '!'+authenID }">Room : {{user.displayName}}</h3>

        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-9">
              <div class="chat-discussion" schroll-bottom="room.messages">
                <div ng-repeat="message in room.messages | orderBy :'-'">
                  <!--<small class="{{message.username === username ? 'pull-left' : 'pull-right'}} text-muted" ng-bind="message.created | date:'mediumTime'"></small>-->
                  <img class="{{message.username === username ? 'pull-right' : 'pull-left'}} img-circle chat-profile-image" ng-src="{{message.profileImageURL}}"
                    alt="{{message.username}}" />
                  <strong class="{{message.username === username ? 'pull-right' : 'pull-left'}}" ng-bind="message.username"></strong></br>
                  </br>
                  <div class="row">
                    <div class="col">
                      <span class="{{message.username === username ? 'bubble me' : 'bubble you'}} message-content" ng-bind="message.text"></span>
                    </div>
                    <div class="col">
                      <small class="{{message.username === username ? 'pull-right bottom-align-text-right' : 'pull-left bottom-align-text-left'}} text-muted">
                        <p ng-if="message.username === username">อ่านแล้ว</p>
                        <p ng-bind="message.created | date:'shortTime'"></p>
                        
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="chat-users">
                <div class="users-list">
                  <div class="chat-user" ng-repeat="chat in chatlist">
                    <span class="pull-right label label-primary">Online</span>
                    <div ng-if="chat.type === 'P'" ng-click="roomsername(chat)" ng-repeat="user in chat.users | filter:{ _id : '!'+authenID }">
                      <img class="img-circle chat-avatar" ng-src="{{user.profileImageURL}}">
                      <div class="chat-user-name">
                        <a>{{user.displayName}}</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <form ng-submit="sendMessage();">
              <div class="col-md-9">
                <!--<div class="chat-message-form">-->
                <!--<div class="form-group">-->
                <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
                <!--</div>-->

                <!--</div>-->
              </div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="!messageText.length">Enter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="modal fade" id="myAdduser" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row"></div>
            <div class="col-md-6">
              <h4 class="modal-title">สร้างห้อง Chat</h4>
            </div>
            <div class="col-md-6 textRight"><button class="btn btn-danger" type="button" data-dismiss="modal">X</button></div>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="ค้นหาผู้ใช้..." ng-model="topsearch" aria-describedby="sizing-addon3">
                  </div>
                </div>
              </div>
            </ul>
            <ul class="list-group fix-scrollmodal">
              <div ng-repeat="userSelect in users | filter:topsearch | filter: { _id : '!'+authenID } ">
                <li class="row list-group-item ">
                  <div class="col-xs-3">
                    <img src="{{userSelect.profileImageURL}}" class="img-circle" width="40px">
                  </div>
                  <div class="col-xs-7">
                    <label>{{userSelect.displayName}}</label>
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="pull-right btn btn-primary" data-dismiss="modal" ng-click="createGroup(userSelect)">เลือก</button>
                  </div>
                </li>
              </div>
            </ul>
            <!--<ul class="list-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div>
                      <label class="control-label" for="name">เลือกคู่สนทนา</label>
                      <select ng-options="item as item.displayName for item in users | filter: { _id : '!'+authenID }" ng-model="userSelect" class="form-control"></select>
                    </div>
                  </div>
                </div>
            </ul>-->

          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-primary btn-block" ng-click="createGroup(userSelect)" data-dismiss="modal">สร้างห้อง</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>