<!-- The chat view -->
<section class="container" ng-controller="ChatController">
  <div class="page-header">
    <h1>Chat Example</h1>
  </div>
  <!-- The message form -->
  <div class="row">
    <!--<div class="col-md-4">
      <select ng-options="item as item.displayName for item in users | filter: { _id : '!'+authenID }" ng-model="userSelect" class="form-control"></select>
      <button ng-click="createGroup(userSelect)">create</button>
    </div>-->
    <div class="col-md-8">
      <!--<div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
            <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in messages">
              <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
              <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
              <div class="pull-left chat-message-details">
                <strong ng-bind="message.username"></strong>
                <br>
                <span ng-bind="message.text"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>-->
      <!--<div class="row">
        <div class="col-md-12">
          <form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="sendMessage();">
            <fieldset class="row">
              <div class="input-group">
                <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
                <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
        </span>
              </div>
            </fieldset>
          </form>
        </div>
      </div>-->
    </div>
  </div>

  <!--mos-->
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox chat-view">
        <div class="ibox-title">
          <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
          <h3 ng-repeat="user in room.users | filter:{ _id : '!'+authenID }">Room : {{user.displayName}}</h3>
          <button class="pull-right" data-toggle="modal" data-target="#myAdduser">+</button>
        </div>
        <div class="ibox-content">

          <div class="row">

            <div class="col-md-9 ">
              <div class="chat-discussion" schroll-bottom="room.messages">
                <div class="chat-message" ng-repeat="message in room.messages | orderBy :'-'">
                  <!--<small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
                  <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
                  <div class="pull-left chat-message-details">
                    <strong ng-bind="message.username"></strong>
                    <br>
                    <span ng-bind="message.text"></span>
                  </div>-->
                  <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
                  <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
                  <div class="chat-message-details">
                    <strong ng-bind="message.username"></strong>
                    <br>
                    <span ng-bind="message.text"></span>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-3">
              <div class="chat-users">
                <div class="users-list">
                  <div class="chat-user" ng-repeat="chat in chatlist">
                    <div ng-if="chat.type === 'P'" ng-repeat="user in chat.users | filter:{ _id : '!'+authenID }">
                      <img class="chat-avatar" ng-src="{{user.profileImageURL}}">
                      <div class="chat-user-name">
                        <a ng-click="roomsername(chat)">{{user.displayName}}</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">

              <!--<div class="form-group">
                  <textarea class="form-control message-input" name="message" placeholder="Enter message text"></textarea>
                </div>-->
              <form ng-submit="sendMessage();">
                <div class="row form-group">
                  <div class="col-md-11">
                    <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
                  </div>
                  <div class="col-md-1 textRight">
                    <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="modal fade" id="myAdduser" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row"></div>
            <div class="col-md-6">
              <h4 class="modal-title">สร้างห้อง Chat</h4>
            </div>
            <div class="col-md-6 textRight"><button class="btn btn-danger" type="button" data-dismiss="modal">ปิด</button></div>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div>
                      <label class="control-label" for="name">เลือกคู่สนทนา</label>
                      <select ng-options="item as item.displayName for item in users | filter: { _id : '!'+authenID }" ng-model="userSelect" class="form-control"></select>
                    </div>
                  </div>
                </div>
            </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success btn-block" ng-click="createGroup(userSelect)" data-dismiss="modal">สร้างห้อง</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--mos-->
    <!--<select ng-options="item as item.displayName for item in users | filter: { _id : '!'+authenID }" ng-model="userSelect" class="form-control"
    ng-change="createGroup(userSelect);"></select>-->
    <!--{{chatlist}}-->
</section>