<!-- The chat view -->
<section class="container" ng-controller="ChatController">

  <!--mos-->
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox chat-view">
        <div class="ibox-title">
          <h3 ng-if="!room.users">&nbsp;&nbsp;&nbsp;</h3>
          <h3 ng-repeat="user in room.users | filter:{ _id : '!'+authenID }">Room : {{user.displayName}} <button class="pull-right" data-toggle="modal" data-target="#myAdduser">+</button></h3>

        </div>
        <div class="ibox-content">

          <div class="row">
            <div class="col-md-9 ">
              <div class="chat-discussion" schroll-bottom="room.messages">
                <div class="chat-message" ng-repeat="message in room.messages | orderBy :'-'">
                  <!--<small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
                  <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
                  <div class="pull-left chat-message-details">
                    <strong ng-bind="message.username"></strong>
                    <br>
                    <span ng-bind="message.text"></span>
                  </div>-->
                  <small class="{{message.username === username ? 'pull-left' : 'pull-right'}} text-muted" ng-bind="message.created | date:'mediumTime'"></small>
                  <div>
                    <img class="{{message.username === username ? 'pull-right' : 'pull-left'}} img-circle chat-profile-image" ng-src="{{message.profileImageURL}}"
                      alt="{{message.username}}" />
                    <strong class="{{message.username === username ? 'pull-right' : 'pull-left'}}" ng-bind="message.username"></strong>
                    <div>
                      </br>
                      <span class="{{message.username === username ? 'pull-right' : 'pull-left'}} message-content" ng-bind="message.text"></span>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <div class="col-md-3">
              <div class="chat-users">
                <div class="users-list">
                  <div class="chat-user" ng-repeat="chat in chatlist">
                    <span class="pull-right label label-primary">Online</span>
                    <div ng-if="chat.type === 'P'" ng-repeat="user in chat.users | filter:{ _id : '!'+authenID }">
                      <img class="chat-avatar" ng-src="{{user.profileImageURL}}">
                      <div class="chat-user-name">
                        <a ng-click="roomsername(chat)">{{user.displayName}}</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <form ng-submit="sendMessage();">
              <div class="col-md-10">
                <div class="chat-message-form">
                  <div class="form-group">
                    <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
                  </div>

                </div>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block " ng-disabled="!messageText.length">Enter</button>
              </div>
            </form>
          </div>

          <!--<div class="row form-group">
            <div class="col-md-12">
              <form ng-submit="sendMessage();">
                <div class="row form-group">
                  <div class="col-md-11">
                    <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
                  </div>
                  <div class="col-md-1 textRight">
                    <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="modal fade" id="myAdduser" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row"></div>
            <div class="col-md-6">
              <h4 class="modal-title">สร้างห้อง Chat</h4>
            </div>
            <div class="col-md-6 textRight"><button class="btn btn-danger" type="button" data-dismiss="modal">X</button></div>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div>
                      <label class="control-label" for="name">เลือกคู่สนทนา</label>
                      <select ng-options="item as item.displayName for item in users | filter: { _id : '!'+authenID }" ng-model="userSelect" class="form-control"></select>
                    </div>
                  </div>
                </div>
            </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-block" ng-click="createGroup(userSelect)" data-dismiss="modal">สร้างห้อง</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--mos-->
    <!--<select ng-options="item as item.displayName for item in users | filter: { _id : '!'+authenID }" ng-model="userSelect" class="form-control"
    ng-change="createGroup(userSelect);"></select>-->
    <!--{{chatlist}}-->
</section>