<section class="header-height" ng-init="vm.readMarketplans();readCampaign()">
  <div class="page-header">
    <h1 ng-show="vm.authentication.user.roles[0] === 'admin'">{{vm.campaign._id ? 'แก้ไขรายการ' : 'เพิ่มรายการใหม่'}}
      <div class="pull-right" ng-show="vm.authentication.user.roles[0] === 'admin' && vm.campaign._id">
        <button type="button" class="btn btn-danger" ng-click="vm.cancelcampaign()">ยกเลิกแคมเปญ</button>
      </div>
    </h1>
    <h1 ng-show="vm.authentication.user.roles[0] !== 'admin'">{{vm.campaign._id ? 'รายละเอียดแคมเปญ' : 'รายละเอียดแคมเปญ'}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group text-center">
        <img ng-src="{{vm.campaign.imageURL}}" alt="{{vm.campaign.name}}" class="img-rounded img-campaign-detail">
      </div>
      <div class="text-center form-group" ng-hide="uploader.queue.length">
        <span class="btn btn-success btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
          </span>
      </div>
      <div class="text-center form-group" ng-show="uploader.queue.length">
        <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
        <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
      </div>
      <div class="text-center form-group" ng-hide="error">
        <label class="front_price1">&nbsp; * ขนาดไฟล์ไม่ควรเกิน 1 MB.</label>
      </div>
      <div ng-show="success" class="text-center text-success">
        <strong>Picture Changed Successfully</strong>
      </div>
      <div ng-show="error" class="text-center text-danger">
        <strong ng-bind="error"></strong>
      </div>
    </div>
  </div>
  <form name="vm.form.campaignForm" class="form-horizontal" ng-submit="vm.save(vm.form.campaignForm.$valid)" novalidate>
    <fieldset>
      <div class="row">
        <div class="col-md-2" ng-show="vm.authentication.user.roles[0] === 'admin'">
          <div class="form-group" show-errors>
            <label class="control-label" for="startdate">วันเริ่มต้นกิจกรรม</label>
            <input name="startdate" type="date" ng-model="vm.campaign.startdate" id="startdate" class="form-control" required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Campaign No is required.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2" ng-show="vm.authentication.user.roles[0] === 'user'">
          <div class="form-group">
            <label class="control-label">วันเริ่มต้นกิจกรรม</label>
            <label ng-bind="vm.campaign.startdate | date:'dd/MM/yyyy' " id="startdate" class="form-control"></label>
          </div>
        </div>


        <div class="col-md-2" ng-show="vm.authentication.user.roles[0] === 'admin'">
          <div class="form-group" show-errors>
            <label class="control-label" for="enddate">วันสิ้นสุดกิจกรรม</label>
            <input name="enddate" type="date" ng-model="vm.campaign.enddate" id="enddate" class="form-control" required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Campaign No is required.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2" ng-show="vm.authentication.user.roles[0] === 'user'">
          <div class="form-group">
            <label class="control-label">วันสิ้นสุดกิจกรรม</label>
            <label ng-bind="vm.campaign.enddate | date:'dd/MM/yyyy' " id="enddate" class="form-control"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group" show-errors ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="name">ชื่อแคมเปญ</label>
            <input name="name" type="text" ng-model="vm.campaign.name" id="name" class="form-control" placeholder="ชื่อแคมเปญ" required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Campaign No is required.</p>
            </div>
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">ชื่อแคมเปญ</label>
            <label ng-bind="vm.campaign.name" id="name" class="form-control"></label>
          </div>
        </div>
      </div>

      <div class="row borderline">
        <div class="col-md-12">
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="description">รายละเอียด</label>
            <input name="description" type="text" ng-model="vm.campaign.description" id="description" class="form-control" placeholder="รายละเอียด">
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">รายละเอียด</label>
            <label ng-bind="vm.campaign.description" id="description" class="form-control"></label>
          </div>
        </div>
      </div>

      <!--<div class="row form-group" ng-repeat="product in vm.campaign.products">
        <div class="row">
          <div class="list-group">
            <div class="row">
              <div class="col-md-1">
                <strong class="form-control noneBorder">{{$index + 1}} .</strong>
              </div>
              <div class="col-md-4">
                <strong class="form-control noneBorder word-break" title="{{product.product.name}}" ng-bind="product.product.name"></strong>
              </div>
              <div class="col-md-1 textCenter">
                <button type="button" class="btn btn-link" ng-click="vm.removeProducts($index)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <label ng-if="vm.campaign.products.length > 0" class="control-label">รายการสินค้าที่เข้าร่วมแคมเปญ</label>
      <table>
        <tr ng-repeat="product in vm.campaign.products">
          <td><span class="form-control noneBorder">{{$index + 1}}.</span></td>
          <td><span class="form-control noneBorder word-break" title="{{product.product.name}}" ng-bind="product.product.name"></span></td>
          <td ng-show="vm.authentication.user.roles[0] === 'admin'">
            <button type="button" class="btn btn-link" ng-click="vm.removeProducts($index)"><span class="glyphicon glyphicon-trash text-danger"></span></button>
          </td>
        </tr>
      </table>

      <div class="row form-group" ng-show="vm.authentication.user.roles[0] === 'admin'">
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btnborder btn-block" data-toggle="modal" data-target="#myProduct">เพิ่มสินค้า</button>
        </div>
      </div>
      <div class="row borderline">
        <div class="col-md-4">
          <div class="form-group">
            <div ng-show="vm.authentication.user.roles[0] === 'admin'">
              <label class="control-label" for="name">สิทธิพิเศษ</label>&nbsp;&nbsp;
              <input type="radio" ng-model="vm.campaign.benefit.benefittype" ng-change="chkB(vm.campaign.benefit.benefittype)" value="DC">&nbsp;ส่วนลด</input>&nbsp;
              <input type="radio" ng-model="vm.campaign.benefit.benefittype" ng-change="chkB(vm.campaign.benefit.benefittype)" value="AP">&nbsp;แถมสินค้า</input>
            </div>
            <div ng-show="vm.authentication.user.roles[0] === 'user'">
              <label class="control-label" for="name">สิทธิพิเศษ :</label>&nbsp;&nbsp;
              <label class="control-label" for="name"> {{vm.campaign.benefit.benefittype === 'AP' ? 'แถมสินค้า' : vm.campaign.benefit.benefittype === 'DC' ? 'ส่วนลด' : ''}}</label>
            </div>
            <div ng-show="vm.campaign.benefit.benefittype === 'DC'">
              <div ng-show="vm.authentication.user.roles[0] === 'admin'">
                <label class="control-label" for="name">ประเภทส่วนลด</label>&nbsp;&nbsp;
                <input type="radio" ng-model="vm.campaign.benefit.disctype" value="P">&nbsp;ลดเป็น %</input>&nbsp;
                <input type="radio" ng-model="vm.campaign.benefit.disctype" value="F">&nbsp;ลดเป็นเงินสด</input>

              </div>
              <div ng-show="vm.authentication.user.roles[0] === 'user'">
                <label class="control-label" for="name">ประเภทส่วนลด :</label>&nbsp;&nbsp;
                <label class="control-label" for="name"> {{vm.campaign.benefit.disctype === 'F' ? 'ลดเป็นเงินสด' : vm.campaign.benefit.disctype === 'P' ? 'ลดเป็น %' : ''}}</label>
              </div>
              <div ng-show="vm.authentication.user.roles[0] === 'admin'">
                <label class="control-label" for="name">มูลค่าส่วนลด</label>
                <span>({{vm.campaign.benefit.disctype === 'F' ? 'บาท' : vm.campaign.benefit.disctype === 'P' ? '%' : ''}})</span>
                <input name="name" type="number" ng-model="vm.campaign.benefit.discvalue" id="name" class="form-control" placeholder="0">
              </div>
              <div ng-show="vm.authentication.user.roles[0] === 'user'">
                <label class="control-label" for="name">มูลค่าส่วนลด :</label>&nbsp;&nbsp;
                <label class="control-label" for="name"> {{vm.campaign.benefit.discvalue}}</label> <label>{{vm.campaign.benefit.disctype === 'F' ? 'บาท' : vm.campaign.benefit.disctype === 'P' ? '%' : ''}}</label>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="modal fade" id="myProduct" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">เลือกสินค้า</h4>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="ค้นหาสินค้า..." ng-model="topsearch" aria-describedby="sizing-addon3">
                      </div>
                    </div>
                  </div>
                </ul>
                <ul class="list-group">
                  <div ng-repeat="prod in vm.products | filter:topsearch">
                    <li class="row list-group-item">
                      <div class="col-xs-3">
                        <img src="{{prod.images}}" class="img-circle" width="50px">
                      </div>
                      <div class="col-xs-7">
                        <img width="5%"> <label>{{prod.name}}</label>
                      </div>
                      <div class="col-xs-2 marginT">
                        <button type="button" class="pull-right btn btn-primary" data-dismiss="modal" ng-click="vm.selectProduct(prod)">เลือก</button>
                      </div>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">ปิด</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="pointcount">จำนวน point ที่สามารถใช้สิทธิ์</label>
            <input name="pointcount" type="number" ng-model="vm.campaign.pointcount" id="pointcount" class="form-control" placeholder="จำนวน point ที่สามารถใช้สิทธิ์">
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">จำนวน point ที่สามารถใช้สิทธิ์</label>
            <label ng-bind="vm.campaign.pointcount" id="pointcount" class="form-control"></label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group" show-errors ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="usercount">จำนวนผู้รับสิทธิ์ตามแผนกิจกรรม</label>
            <input name="usercount" type="number" ng-model="vm.campaign.usercount" id="usercount" class="form-control" placeholder="จำนวนผู้รับสิทธิ์ตามแผนกิจกรรม"
              required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">campaign Name is required.</p>
            </div>
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">จำนวนผู้รับสิทธิ์ตามแผนกิจกรรม</label>
            <label ng-bind="vm.campaign.usercount" id="usercount" class="form-control"></label>
          </div>
        </div>
      </div>


      <div class="row form-group" ng-show="vm.campaign._id" ng-if="vm.authentication.user.roles[0] === 'admin'">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block">{{vm.campaign._id ? 'บันทึกรายการ' : 'บันทึกรายการ'}}</button>
        </div>
      </div>
      <!--line-->
      <div class="borderline" ng-show="vm.campaign._id && vm.authentication.user.roles[0] !== 'admin' || vm.mode === 'edit'"></div>
      <!---->
      <div ng-show="vm.campaign._id && vm.authentication.user.roles[0] !== 'admin' || vm.mode === 'edit'">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <h3>{{vm.mode === 'new' ? 'รายการกดรับสิทธิ์' : 'รายการแก้ไขสิทธิ์'}}</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="identification">เลขที่บัตรประชาชน </label><label class="front_price1">&nbsp; *กรุณากรอกเลขที่บัตรประชาชน</label>
              <input name="identification" type="text" ng-model="vm.datauser.identification" id="identification" class="form-control" pattern="^\d{13}$"
                placeholder="เลขที่บัตรประชาชน" maxlength="13">
              <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="lineid">Line ID</label><label class="front_price1">&nbsp; *กรุณากรอก Line ID (ถ้ามี)</label>
              <input name="lineid" type="text" ng-model="vm.datauser.lineid" id="lineid" class="form-control" placeholder="Line ID">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="facebook">Facebook</label><label class="front_price1">&nbsp; *กรุณากรอก Facebook (ถ้ามี)</label>
              <input name="facebook" type="text" ng-model="vm.datauser.facebook" id="facebook" class="form-control" placeholder="Facebook">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="acceptcampaigndate">กำหนดวันที่รับสิทธิ์</label><label class="front_price1">&nbsp; *กรุณาเลือกวันที่รับสิทธิ์</label>
              <select ng-options="data as data.text for data in vm.marketplans track by data._id" ng-model="vm.datauser.acceptcampaigndate"
                class="form-control"></select>
              <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <button ng-disabled="!vm.datauser.identification || !vm.datauser.acceptcampaigndate || !vm.checkID()" ng-click="vm.acceptcampaign()"
                type="button" class="btn btn-warning btn-block">{{vm.campaign._id && vm.mode === 'new' ? 'ยืนยันการรับสิทธิ์' : 'แก้ไขการรับสิทธิ์'}}</button>
            </div>
          </div>
        </div>
      </div>

      <!--line-->
      <div class="borderline" ng-show="vm.campaign._id && vm.authentication.user.roles[0] !== 'admin' || vm.mode === 'edit'"></div>
      <!---->

      <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'admin' && vm.campaign._id">
        <h3>รายการผู้รับสิทธิ์</h3>
        <div class="tab-pane active" id="allActive">
          <div class="tabbable tabs-left">
            <div class="row">
              <div class="col-md-1 hidden-xs hidden-sm show-md show-lg">
                <div class="nav">
                  <a href="#accept" data-toggle="tab"><button class="thumbnail button buttonGreen" type="text"><span>ค้างรับ</span><h3>{{accept.length || 0}}</h3></button></a>
                  <a href="#receipt" data-toggle="tab"><button class="thumbnail button buttonBlueSky" type="text"><span>รับแล้ว</span><h3>{{receipts.length || 0}}</h3></button></a>
                </div>
              </div>
              <div class="col-md-11 hidden-xs hidden-sm show-md show-lg">
                <!--tap-->
                <div class="tab-content">
                  <div class="tab-pane active" id="accept">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <div class="row form-group alert alert-info">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                              <strong>เลขที่บัตรประชาชน</strong>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                              <strong>ชื่อผู้รับสิทธิ์</strong>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                              <strong>กำหนดวันที่รับสิทธิ์</strong>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 text-right">
                              <strong>ได้รับ</strong>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 text-right">
                              <strong>แก้ไข</strong>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                              <strong>ยกเลิก</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="accept in vm.listCampaign | filter:{status:'accept'} as accept">
                      <div class="col-md-12">

                        <div class="row form-group">
                          <div class="col-xs-3 col-sm-3 col-md-3">
                            <p class="list-group-item-heading" ng-bind="accept.identification"></p>
                          </div>
                          <div class="col-xs-3 col-sm-3 col-md-3">
                            <p class="list-group-item-heading" ng-bind="accept.user.displayName"></p>
                          </div>
                          <div class="col-xs-3 col-sm-3 col-md-3">
                            <p class="list-group-item-heading" ng-bind="accept.acceptcampaigndate.text"></p>
                          </div>
                          <div class="col-xs-1 col-sm-1 col-md-1">
                            <button type="button" class="btn buttonGreenForm" ng-click="vm.receiptscampaign(accept)"><span class="glyphicon glyphicon-check"></span></button>
                          </div>
                          <div class="col-xs-1 col-sm-1 col-md-1 marleft">
                            <button type="button" class="btn btn-primary" ng-click="vm.editcampaignuser(accept)"><span class="glyphicon glyphicon-edit"></span></button>
                          </div>
                          <div class="col-xs-1 col-sm-1 col-md-1 marleft">
                            <button type="button" class="btn btn-danger" ng-click="vm.removeitem(accept)"><span class="glyphicon glyphicon-trash"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="receipt">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <div class="row form-group alert alert-info">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                              <strong>เลขที่บัตรประชาชน</strong>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                              <strong>ชื่อผู้รับสิทธิ์</strong>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                              <strong>กำหนดวันที่รับสิทธิ์</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="receipt in vm.listCampaign | filter:{status:'receipts'} as receipts">
                      <div class="col-md-12">
                        <div class="row form-group">
                          <div class="col-xs-4 col-sm-4 col-md-4">
                            <p class="list-group-item-heading" ng-bind="receipt.identification"></p>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4">
                            <p class="list-group-item-heading" ng-bind="receipt.user.displayName"></p>
                          </div>
                          <div class="col-xs-4 col-sm-4 col-md-4">
                            <p class="list-group-item-heading" ng-bind="receipt.acceptcampaigndate.text"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!---->
      <!--</div>
      </div>-->
      <div class="form-group" ng-show="!vm.campaign._id" ng-if="vm.authentication.user.roles[0] === 'admin'">
        <button type="submit" class="btn btn-primary btn-block">{{vm.campaign._id ? 'บันทึกรายการ' : 'บันทึกรายการ'}}</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>

    </fieldset>
  </form>

</section>