<section class="header-height">
  <div class="page-header">
    <h1>{{vm.campaign._id ? 'แก้ไขรายการ' : 'เพิ่มรายการใหม่'}}</h1>
  </div>

  <form name="vm.form.campaignForm" class="form-horizontal" ng-submit="vm.save(vm.form.campaignForm.$valid)" novalidate>
    <fieldset>
      <div class="row">
        <div class="col-md-6" ng-show="vm.authentication.user.roles[0] === 'admin'">
          <div class="form-group" show-errors>
            <label class="control-label" for="startdate">วันเริ่มต้นกิจกรรม</label>
            <input name="startdate" type="date" ng-model="vm.campaign.startdate" id="startdate" class="form-control" required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Campaign No is required.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6" ng-show="vm.authentication.user.roles[0] === 'user'">
          <div class="form-group">
            <label class="control-label">วันเริ่มต้นกิจกรรม</label>
            <label ng-bind="vm.campaign.startdate | date:'dd/MM/yyyy' " id="startdate" class="form-control"></label>
          </div>
        </div>


        <div class="col-md-6" ng-show="vm.authentication.user.roles[0] === 'admin'">
          <div class="form-group" show-errors>
            <label class="control-label" for="enddate">วันสิ้นสุดกิจกรรม</label>
            <input name="enddate" type="date" ng-model="vm.campaign.enddate" id="enddate" class="form-control" required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Campaign No is required.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6" ng-show="vm.authentication.user.roles[0] === 'user'">
          <div class="form-group">
            <label class="control-label">วันสิ้นสุดกิจกรรม</label>
            <label ng-bind="vm.campaign.enddate | date:'dd/MM/yyyy' " id="enddate" class="form-control"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="form-group" show-errors ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="name">ชื่อแคมเปญ</label>
            <input name="name" type="text" ng-model="vm.campaign.name" id="name" class="form-control" placeholder="ชื่อแคมเปญ" required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Campaign No is required.</p>
            </div>
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">ชื่อแคมเปญ</label>
            <label ng-bind="vm.campaign.name" id="name" class="form-control"></label>
          </div>


          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="description">รายละเอียด</label>
            <input name="description" type="text" ng-model="vm.campaign.description" id="description" class="form-control" placeholder="รายละเอียด">
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">รายละเอียด</label>
            <label ng-bind="vm.campaign.description" id="description" class="form-control"></label>
          </div>


          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="pointcount">จำนวน point ที่สามารถใช้สิทธิ์</label>
            <input name="pointcount" type="number" ng-model="vm.campaign.pointcount" id="pointcount" class="form-control" placeholder="จำนวน point ที่สามารถใช้สิทธิ์">
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">จำนวน point ที่สามารถใช้สิทธิ์</label>
            <label ng-bind="vm.campaign.pointcount" id="pointcount" class="form-control"></label>
          </div>

          <div class="form-group" show-errors ng-show="vm.authentication.user.roles[0] === 'admin'">
            <label class="control-label" for="usercount">จำนวนผู้รับสิทธิ์ตามแผนกิจกรรม</label>
            <input name="usercount" type="number" ng-model="vm.campaign.usercount" id="usercount" class="form-control" placeholder="จำนวนผู้รับสิทธิ์ตามแผนกิจกรรม"
              required>
            <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              <p class="help-block error-text" ng-message="required">campaign Name is required.</p>
            </div>
          </div>
          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'user'">
            <label class="control-label">จำนวนผู้รับสิทธิ์ตามแผนกิจกรรม</label>
            <label ng-bind="vm.campaign.usercount" id="usercount" class="form-control"></label>
          </div>

          <div ng-show="vm.campaign._id">
            <h3>รายการกดรับสิทธิ์</h3>
            <div class="form-group">
              <label class="control-label" for="identification">เลขที่บัตรประชาชน</label>
              <input name="identification" type="text" ng-model="vm.identification" id="identification" class="form-control" placeholder="เลขที่บัตรประชาชน">
              <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="lineid">Line ID</label>
              <input name="lineid" type="text" ng-model="vm.lineid" id="lineid" class="form-control" placeholder="Line ID">
            </div>

            <div class="form-group">
              <label class="control-label" for="facebook">Facebook</label>
              <input name="facebook" type="text" ng-model="vm.facebook" id="facebook" class="form-control" placeholder="Facebook">
            </div>

            <div class="form-group">
              <label class="control-label" for="acceptcampaigndate">กำหนดวันที่รับสิทธิ์</label>
              <input name="acceptcampaigndate" type="date" ng-model="vm.acceptcampaigndate" id="acceptcampaigndate" class="form-control"
                placeholder="กำหนดวันที่รับสิทธิ์">
              <div ng-messages="vm.form.campaignForm.campaign.$error" role="alert">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="status"></label>
              <button ng-disabled="!vm.identification || !vm.acceptcampaigndate" ng-click="vm.acceptcampaign()" type="button" class="btn btn-warning">{{vm.campaign._id ? 'ยืนยันการรับสิทธิ์' : 'ยืนยันการรับสิทธิ์'}}</button>
            </div>
          </div>

          <div class="form-group" ng-show="vm.authentication.user.roles[0] === 'admin'">
            <h3>รายการผู้รับสิทธิ์</h3>
            <div class="tab-pane active" id="allActive">
              <div class="tabbable tabs-left">
                <div class="row">
                  <div class="col-md-1 hidden-xs hidden-sm show-md show-lg">
                    <div class="nav">
                      <a href="#accept" data-toggle="tab"><button class="thumbnail button buttonGreen" type="text"><span>ค้างรับ</span><h3>{{accept.length || 0}}</h3></button></a>
                      <a href="#receipt" data-toggle="tab"><button class="thumbnail button buttonBlueSky" type="text"><span>รับแล้ว</span><h3>{{receipts.length || 0}}</h3></button></a>
                    </div>
                  </div>
                  <!---->
                  <div class="row show-xs show-sm hidden-md hidden-lg marginT">
                    <div class="col-xs-3">
                      <a href="#waitreviewmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonGreen">ค้างรับ</button></a>
                    </div>
                    <div class="col-xs-3">
                      <a href="#waitconfirmedmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonBlueSky">รับแล้ว</button></a>
                    </div>
                  </div>

                  <!---->
                  <div class="col-md-11 hidden-xs hidden-sm show-md show-lg">
                    <!--tap-->
                    <div class="tab-content">
                      <div class="tab-pane active" id="accept">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-12">
                              <div class="row form-group alert alert-info">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                  <strong>เลขที่บัตรประชาชน</strong>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <strong>ชื่อผู้รับสิทธิ์</strong>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <strong>กำหนดวันที่รับสิทธิ์</strong>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1">
                                  <strong>ได้รับ</strong>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1">
                                  <strong>ยกเลิก</strong>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="accept in vm.campaign.listusercampaign | filter:{status:'accept'} as accept">
                          <div class="col-md-12">

                            <div class="row form-group">
                              <div class="col-xs-4 col-sm-4 col-md-4">
                                <p class="list-group-item-heading" ng-bind="accept.identification"></p>
                              </div>
                              <div class="col-xs-3 col-sm-3 col-md-3">
                                <p class="list-group-item-heading" ng-bind="accept.user.displayName"></p>
                              </div>
                              <div class="col-xs-3 col-sm-3 col-md-3">
                                <p class="list-group-item-heading dotpy" ng-bind="accept.acceptcampaigndate | date:'dd/MM/yyyy'"></p>
                              </div>
                              <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="btn buttonGreenForm" ng-click="vm.receiptscampaign(accept)"><span class="glyphicon glyphicon-check"></span></button>
                              </div>
                              <div class="col-xs-1 col-sm-1 col-md-1 marleft">
                                <button type="button" class="btn btn-danger" ng-click="vm.removeitem($index)"><span class="glyphicon glyphicon-trash"></span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="receipt">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-12">
                              <div class="row form-group alert alert-info">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                  <strong>เลขที่บัตรประชาชน</strong>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                  <strong>ชื่อผู้รับสิทธิ์</strong>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                  <strong>กำหนดวันที่รับสิทธิ์</strong>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="accept in vm.campaign.listusercampaign | filter:{status:'receipts'} as receipts">
                          <div class="col-md-12">
                            <div class="row form-group">
                               <div class="col-xs-4 col-sm-4 col-md-4">
                                <p class="list-group-item-heading" ng-bind="accept.identification"></p>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4">
                                <p class="list-group-item-heading" ng-bind="accept.user.displayName"></p>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4">
                                <p class="list-group-item-heading dotpy" ng-bind="accept.acceptcampaigndate | date:'dd/MM/yyyy'"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row show-xs show-sm hidden-md hidden-lg">
                    <div class="tab-content">
                      <div class="tab-pane active" id="waitreviewmb">
                        <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'wait for review'} as waitreview">
                          <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                              <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                                </div>
                                <div>
                                  <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                                </div>
                              </div>
                              <div class="list-group-item-heading textRight">
                                <button type="button" class="btn buttonGreenForm" ng-click="vm.statusWaitreview(data)"><span class="glyphicon glyphicon-check"></span></button>
                                <button type="button" class="btn btn-danger" ng-click="vm.remove(data)"><span class="glyphicon glyphicon-trash"></span></button>
                                <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="waitconfirmedmb">
                        <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'wait for confirmed'} as waitconfirmed">
                          <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                              <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                                </div>
                                <div>
                                  <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                                </div>
                              </div>
                              <div class="list-group-item-heading textRight">
                                <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="confirmedmb">
                        <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:vm.confirmed as confirmed">
                          <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                              <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                                </div>
                                <div>
                                  <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                                </div>
                              </div>
                              <div class="list-group-item-heading textRight">
                                <button type="button" class="btn buttonGreenForm" ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-check"></span></button>
                                <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="receiptmb">
                        <div class="col-md-12" ng-repeat="data in vm.accuralreceipts | filter:topsearch | filter:{arstatus:'receipt'} as receipt">
                          <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                              <div ui-sref="accuralreceipts.edit({ accuralreceiptId: data._id })">
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รหัสใบแจ้งหนี้'+ ' ' + data.docno"></label>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'ชื่อคนส่งข้าว'+ ' ' + data.namedeliver.displayName"></label>
                                </div>
                                <div>
                                  <span class="list-group-item-heading" ng-bind="data.namedeliver.address.address +' '+ data.namedeliver.address.district +' '+ data.namedeliver.address.subdistrict +' '+ data.namedeliver.address.province +' '+ data.namedeliver.address.postcode +' '+ '('+data.namedeliver.address.tel+')'"></span>
                                </div>
                                <div>
                                  <label class="list-group-item-heading" ng-bind="'รวม'+ ' ' + data.totalamount"></label>
                                </div>
                              </div>
                            </a>
                            <div class="list-group-item-heading textRight">
                              <a ng-show="data.attm" href="{{data.attm}}" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-new-window"></span></button></a>
                              <button type="button" class="btn btn-warning" ui-sref="accuralreceipts.view({ accuralreceiptId: data._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!---->
        </div>
      </div>
      <div class="form-group" ng-show="!vm.campaign._id">
        <button type="submit" class="btn btn-primary btn-block">{{vm.campaign._id ? 'บันทึกรายการ' : 'บันทึกรายการ'}}</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>

    </fieldset>
  </form>

</section>