<section class="header-height">
  <div class="page-header">
    <h1>รายการสิทธิ์</h1>
  </div>

  <!--<div class="row show-xs show-sm hidden-md hidden-lg marginT">
    <div class="col-xs-8">
      <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch">
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        <a class="btn buttonCreate" ui-sref="campaigns.create">
          <span>New</span>
        </a>
      </div>
    </div>
  </div>-->

  <div class="row hidden-xs show-sm show-md show-lg">
    <div class="col-md-8">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch" aria-describedby="sizing-addon3">
      </div>
    </div>
    <!--<div class="col-md-4 hidden-xs hidden-sm show-md show-lg">
      <div class="pull-right">
        <a class="btn buttonCreate" ui-sref="campaigns.create">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <span>New</span>
        </a>
      </div>
    </div>-->
  </div>

  <div class="row hidden-xs show-sm show-md show-lg">
    <div class="col-md-12">
      <div class="row form-group alert alert-info">
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>ชื่อแคมเปญ</strong>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <strong>รายละเอียด</strong>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <strong>วันที่เริ่ม - สิ้นสุด</strong>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <strong>แคมเปญ Point</strong>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <strong>สิทธิ์</strong>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <strong>รับสิทธิ์</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="campaign in vm.campaigns | filter:topsearch">
    <div class="col-md-12">
      <div class="row form-group">
        <div class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="campaign.name"></p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <p class="list-group-item-heading" ng-bind="campaign.description"></p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <span class="list-group-item-heading" ng-bind="campaign.startdate | date:'dd/MM/yyyy' "></span> - <span class="list-group-item-heading"
            ng-bind="campaign.enddate | date:'dd/MM/yyyy'"></span>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <p class="list-group-item-heading" ng-bind="campaign.pointcount"></p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <p class="list-group-item-heading" ng-bind="campaign.usercount"></p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <button type="button" class="btn btn-primary" ui-sref="campaigns.edit({ campaignId: campaign._id })"><span class="glyphicon glyphicon-check"></span></button>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row show-xs hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12">
      <div class="list-group" ng-repeat="campaign in vm.campaigns | filter:topsearch">
        <a href="#" class="list-group-item list-group-item-action">
          <div>
            <span class="list-group-item-heading" ng-bind="'รหัสบัญชี'+ ' : ' + campaign.campaignno"></span>
          </div>
          <div>
            <span class="list-group-item-heading" ng-bind="'ชื่อบัญชี'+ ' : ' + campaign.campaignname"></span>
          </div>
          <div>
            <span class="list-group-item-heading" ng-bind="'สถานะ'+ ' : ' + campaign.status"></span>
          </div>
          <div class="list-group-item-heading textRight">
            <button type="button" class="btn btn-primary" ng-click="vm.update(campaign)"><span class="glyphicon glyphicon-edit"></span></button>
          </div>
        </a>
      </div>
    </div>
  </div>-->
</section>