<section>
  <div class="page-header">
    <h1>รายการใบแจ้งคืน</h1>
  </div>

  <div class="row show-xs show-sm hidden-md hidden-lg marginT">
    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch">
    </div>
    <div class="col-xs-4">
      <a class="btn buttonCreate" ui-sref="returnorders.create">
        <span>สร้างใหม่</span>
      </a>
    </div>
  </div>

  <div class="tab-content">
    <div class="row">
      <div class="col-md-5">

      </div>
      <div class="col-md-5 hidden-xs hidden-sm show-md show-lg">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="ค้นหารายการ..." ng-model="topsearch" aria-describedby="sizing-addon3">
        </div>
      </div>
      <div class="col-md-2 hidden-xs hidden-sm show-md show-lg">
        <div class="textCenter">
          <a class="btn buttonCreate" ui-sref="returnorders.create">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <span>สร้างใหม่</span>
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="allActive">
      <div class="tabbable tabs-left">
        <div class="row">
          <div class="col-md-1 hidden-xs hidden-sm show-md show-lg">
            <div class="nav">
              <a href="#showAllReturn" data-toggle="tab"><button class="thumbnail button buttonGreen" type="text"><span>แจ้งคืน</span><h3>{{return.length || 0}}</h3></button></a>
              <a href="#showAllReponse" data-toggle="tab"><button class="thumbnail button buttonBlueSky" type="text"><span>ตอบกลับ</span><h3>{{response.length || 0}}</h3></button></a>
              <a href="#showAllReceived" data-toggle="tab"><button class="thumbnail button buttonDarkblue" type="text"><span>ได้รับ</span><h3>{{received.length || 0}}</h3></button></a>
            </div>
          </div>
          <!---->
          <div class="row show-xs show-sm hidden-md hidden-lg marginT">
            <div class="col-xs-4">
              <a href="#showAllReturnmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonGreen">แจ้งคืน</button></a>
            </div>
            <div class="col-xs-4">
              <a href="#showAllReponsemb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonBlueSky">ตอบกลับ</button></a>
            </div>
            <div class="col-xs-4">
              <a href="#showAllReceivedmb" data-toggle="tab"><button type="text" class="btn btn-block btn-md buttonDarkblue">ได้รับ</button></a>
            </div>
          </div>

          <!---->
          <div class="col-md-11 hidden-xs hidden-sm show-md show-lg">
            <!--tap-->
            <div class="tab-content">
              <div class="tab-pane active" id="showAllReturn">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">
                        <!--<div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อบริษัท</strong>
                        </div>-->
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>ชื่อผู้แจ้งคืน</strong>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5">
                          <strong>ที่อยู่ผู้รับ</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>ลบ</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สั่งซื้อ</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="return in vm.returnorders | filter:topsearch | filter:{deliverystatus:'return'} as return">
                  <div class="col-md-12">
                    <div class="row form-group">
                      <div ui-sref="returnorders.edit({ returnorderId: return._id })">
                        <div class="col-xs-3 col-sm-3 col-md-3" ng-show="return.user.roles[0] === 'admin'">
                          <p class="list-group-item-heading" ng-bind="return.namedeliver.displayName + ' ' + '(' + return.user.displayName + ')'"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3" ng-show="return.user.roles[0] === 'deliver'">
                          <p class="list-group-item-heading" ng-bind="return.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5">
                          <p class="list-group-item-heading" ng-bind="return.shipping.address +' '+ return.shipping.district +' '+ return.shipping.subdistrict +' '+ return.shipping.province +' '+ return.shipping.postcode +' '+ '('+return.shipping.tel+')'"></p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="vm.remove(return)"><span class="glyphicon glyphicon-trash"></span></button>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2" ui-sref="returnorders.edit({ returnorderId: return._id })">
                        <time am-time-ago="return.created"></time>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="returnorders.view({ returnorderId: return._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="showAllReponse">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อบริษัท</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>ชื่อผู้แจ้งคืน</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>ที่อยู่ผู้รับ</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>ได้รับ</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สั่งซื้อ</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="response in vm.returnorders | filter:topsearch | filter:{deliverystatus:'response'} as response">
                  <div class="col-md-12">
                    <div class="row form-group">
                      <div ui-sref="returnorders.edit({ returnorderId: response._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="response.transport.displayName"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3" ng-show="response.user.roles[0] === 'admin'">
                          <p class="list-group-item-heading" ng-bind="response.namedeliver.displayName + ' ' + '(' + response.user.displayName + ')'"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3" ng-show="response.user.roles[0] === 'deliver'">
                          <p class="list-group-item-heading" ng-bind="response.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <p class="list-group-item-heading" ng-bind="response.shipping.address +' '+ response.shipping.district +' '+ response.shipping.subdistrict +' '+ response.shipping.province +' '+ response.shipping.postcode +' '+ '('+response.shipping.tel+')'"></p>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1">
                        <button type="button" class="btn btn-info" ng-click="vm.receive(response)"><span class="glyphicon glyphicon-ok"></span></button>
                      </div>
                      <div class="col-xs-2 col-sm-2 col-md-2" ui-sref="returnorders.edit({ returnorderId: response._id })">
                        <time am-time-ago="response.created"></time>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="returnorders.view({ returnorderId: response._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="showAllReceived">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row form-group alert alert-info">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>ชื่อบริษัท</strong>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                          <strong>ชื่อผู้แจ้งคืน</strong>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <strong>ที่อยู่ผู้รับ</strong>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <strong>วันที่สั่งซื้อ</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                          <strong>พิมพ์</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-xs show-sm show-md show-lg" ng-repeat="received in vm.returnorders | filter:topsearch | filter:{deliverystatus:'received'} as received">
                  <div class="col-md-12">
                    <div class="row form-group">
                      <div ui-sref="returnorders.edit({ returnorderId: received._id })">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <p class="list-group-item-heading" ng-bind="received.transport.displayName"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3" ng-show="received.user.roles[0] === 'admin'">
                          <p class="list-group-item-heading" ng-bind="received.namedeliver.displayName + ' ' + '(' + received.user.displayName + ')'"></p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3" ng-show="received.user.roles[0] === 'deliver'">
                          <p class="list-group-item-heading" ng-bind="received.namedeliver.displayName"></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <p class="list-group-item-heading" ng-bind="received.shipping.address +' '+ received.shipping.district +' '+ received.shipping.subdistrict +' '+ received.shipping.province +' '+ received.shipping.postcode +' '+ '('+received.shipping.tel+')'"></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <time am-time-ago="received.created"></time>
                        </div>
                      </div>
                      <div class="col-xs-1 col-sm-1 col-md-1" ui-sref="returnorders.view({ returnorderId: received._id })">
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-save-file"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row show-xs show-sm hidden-md hidden-lg">
            <div class="tab-content">
              <div class="tab-pane active" id="showAllReturnmb">
                <div class="col-md-12" ng-repeat="return in vm.returnorders | filter:topsearch | filter:{deliverystatus:'return'} as return">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="returnorders.edit({ returnorderId: return._id })">
                        <div ng-show="return.user.roles[0] === 'admin'">
                          <label class="list-group-item-heading" ng-bind="'ชื่อผู้แจ้งคืน'+ ' ' + return.namedeliver.displayName  + ' ' + '(' + return.user.displayName + ')'"></label>
                        </div>
                        <div ng-show="return.user.roles[0] === 'deliver'">
                          <label class="list-group-item-heading" ng-bind="'ชื่อผู้แจ้งคืน'+ ' ' + return.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="return.shipping.address +' '+ return.shipping.district +' '+ return.shipping.subdistrict +' '+ return.shipping.province +' '+ return.shipping.postcode +' '+ '('+return.shipping.tel+')'"></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 textRight">
                          <button type="button" class="btn btn-danger" ng-click="vm.remove(return)"><span class="glyphicon glyphicon-trash"></span></button>
                          <button type="button" class="btn btn-warning" ui-sref="returnorders.view({ returnorderId: return._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="showAllReponsemb">
                <div class="col-md-12" ng-repeat="response in vm.returnorders | filter:topsearch | filter:{deliverystatus:'response'} as response">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="returnorders.edit({ returnorderId: response._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="response.transport.displayName"></label>
                        </div>
                        <div ng-show="response.user.roles[0] === 'admin'">
                          <label class="list-group-item-heading" ng-bind="'ชื่อผู้แจ้งคืน'+ ' ' + response.namedeliver.displayName  + ' ' + '(' + response.user.displayName + ')'"></label>
                        </div>
                        <div ng-show="response.user.roles[0] === 'deliver'">
                          <label class="list-group-item-heading" ng-bind="'ชื่อผู้แจ้งคืน'+ ' ' + response.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="response.shipping.address +' '+ response.shipping.district +' '+ response.shipping.subdistrict +' '+ response.shipping.province +' '+ response.shipping.postcode +' '+ '('+response.shipping.tel+')'"></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 textRight">
                          <button type="button" class="btn btn-warning" ui-sref="returnorders.view({ returnorderId: response._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="showAllReceivedmb">
                <div class="col-md-12" ng-repeat="received in vm.returnorders | filter:topsearch | filter:{deliverystatus:'received'} as received">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div ui-sref="returnorders.edit({ returnorderId: received._id })">
                        <div>
                          <label class="list-group-item-heading" ng-bind="received.transport.displayName"></label>
                        </div>
                        <div ng-show="received.user.roles[0] === 'admin'">
                          <label class="list-group-item-heading" ng-bind="'ชื่อผู้แจ้งคืน'+ ' ' + received.namedeliver.displayName  + ' ' + '(' + received.user.displayName + ')'"></label>
                        </div>
                        <div ng-show="received.user.roles[0] === 'deliver'">
                          <label class="list-group-item-heading" ng-bind="'ชื่อผู้แจ้งคืน'+ ' ' + received.namedeliver.displayName"></label>
                        </div>
                        <div>
                          <span class="list-group-item-heading" ng-bind="received.shipping.address +' '+ received.shipping.district +' '+ received.shipping.subdistrict +' '+ received.shipping.province +' '+ received.shipping.postcode +' '+ '('+received.shipping.tel+')'"></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 textRight">
                          <button type="button" class="btn btn-warning" ui-sref="returnorders.view({ returnorderId: received._id })"><span class="glyphicon glyphicon-save-file"></span></button>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="modal fade" id="returnProduct" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">รายละเอียดสินค้า</h4>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                  <div class="input-group input-group-sm">
                  </div>
                </div>
              </div>
            </ul>
            <ul class="list-group">
              <div ng-repeat="pro in vm.returnprod.items">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">ชื่อสินค้า</div>
                    <div class="col-md-3">จำนวน</div>
                    <div class="col-md-3">ราคา</div>
                  </div>
                  <div class="row">
                    <div class="col-md-3"><img src="{{pro.product.images}}" width="50%"></div>
                    <div class="col-md-3" ng-bind="pro.product.name"></div>
                    <div class="col-md-3" ng-bind="pro.qty"></div>
                    <div class="col-md-3" ng-bind="pro.amount"></div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>