<script type="text/javascript">
  function exportPdf() {
    html2canvas(document.getElementById('pdf'), {
      onrendered: function (canvas) {
        //jigkoh
        //alert('html2canvas success..');
        var imgData = canvas.toDataURL("image/jpeg");
        //alert(imgData);
        var imgWidth = 210;
        var pageHeight = 295;
        var imgHeight = canvas.height * imgWidth / canvas.width;
        var heightLeft = imgHeight;
        var doc = new jsPDF('p', 'mm');
        var position = 0;
        doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
        //alert('before save');
        heightLeft -= pageHeight;
        while (heightLeft >= 0) {
          position = heightLeft - imgHeight;
          doc.addPage();
          doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
          heightLeft -= pageHeight;
        }
        doc.save('รายงานรับคืนข้าว.pdf');
        //end jigkoh
      }
    });
  }

</script>
<section>
  <div id="pagedisable">
    <div class="row hidden-xs hidden-sm show-md show-lg">
      <div class="col-xs-3 col-sm-3 col-md-3">
        จากวันที่ : <input type="date" class="form-control" ng-model="startDay">
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        ถึงวันที่ : <input type="date" class="form-control" ng-model="endDay">
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        &nbsp;<button type="button" class="btn btn-primary btn-block" ng-click="vm.getDay(startDay,endDay)">ค้นหา</button>
      </div>
      <div class="pull-right">
        <a href="javascript:exportPdf()"><button type="button" class="btn btn-success btn-outline btn-block"><span>Export To PDF</span></button></a>
      </div>
    </div>

    <div class="row show-xs show-sm hidden-md hidden-lg">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          จากวันที่ :
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <input type="date" class="form-control" ng-model="startDay">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          ถึงวันที่ :
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <input type="date" class="form-control" ng-model="endDay">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <button type="button" class="btn btn-primary btn-block" ng-click="vm.getDay(startDay,endDay)">ค้นหา</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 marginT25">
      บริษัทขนส่งข้าว
      <select ng-options="item as item.displayName for item in listtran track by item._id " ng-model="tranFilter" class="form-control"></select>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">

    </div>
  </div>
</section>

<section class="header-height" id="pdf">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-5">
      <address>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-9">
            <h5>บริษัท ธรรมธุรกิจ เทรดดิ้ง จำกัด</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <strong>รายงานรับคืนข้าว</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-10">
            <p>ระหว่างวันที่ {{startDay | date:'dd/MM/yyyy'}} ถึงวันที่ {{endDay | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
        <div class="row">
          <div ng-if="tranFilter">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
              <p><img width="7%">{{tranFilter ? 'บริษัทขนส่ง : ' + tranFilter.displayName : 'ทั้งหมด'}}</p>
            </div>
          </div>
          <div ng-if="!tranFilter">
            <div class="col-md-5">
            </div>
            <div class="col-md-6">
              <p>{{tranFilter ? 'บริษัทขนส่ง : ' + tranFilter.displayName : 'ทั้งหมด'}}</p>
            </div>
          </div>
        </div>
      </address>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="table-responsive m-t">
    <table class="table">
      <thead>
        <tr>
          <th width="10%">วันที่</th>
          <th width="15%">บริษัทขนส่งข้าว</th>
          <th>ชื่อคนส่งข้าว</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th width="10%"></th>
          <th>สินค้า</th>
          <th></th>
          <th></th>
          <th class="textRight">จำนวน</th>
        </tr>
      </thead>
      <tbody ng-repeat="returnorder in vm.listreturn.data  | filter:{transport : {_id : tranFilter._id}}">
        <tr>
          <td><label>{{returnorder.docdate | date: 'dd/MM/yyyy'}}</label></td>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td></td>
          <td><label>{{returnorder.transport.displayName}}</label></td>
          <td><label>{{returnorder.namedeliver.displayName}}</label></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-repeat="itm in returnorder.items">
          <td></td>
          <td>{{itm.product.name}}</td>
          <td colspan="2"></td>
          <td class="textRight">{{itm.qty | number:2}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</section>