<section style="min-height: 1200px;">
  <div class="page-header">
    <h1>{{vm.company._id ? 'Edit Company' : 'New Company'}}</h1>
  </div>
  <div class="col-md-12" style="height:100%">
    <form name="vm.form.companyForm" class="form-horizontal" ng-submit="vm.save(vm.form.companyForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="accountno">Account No.</label>
          <input name="accountno" type="text" ng-model="vm.company.accountno" id="accountno" class="form-control" placeholder="Account No" required>
          <div ng-messages="vm.form.companyForm.accountno.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company accountno is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.company.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.companyForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="address">Address</label>
          <input name="address" type="text" ng-model="vm.company.address" id="address" class="form-control" placeholder="Address" required>
          <div ng-messages="vm.form.companyForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company address is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="taxid">Tax id</label>
          <input name="taxid" type="text" ng-model="vm.company.taxid" id="taxid" class="form-control" placeholder="Tax id" required>
          <div ng-messages="vm.form.companyForm.taxid.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company taxid is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="brunch">Brunch</label>
          <input name="brunch" type="text" ng-model="vm.company.brunch" id="brunch" class="form-control" placeholder="Brunch">
        </div>
        <div class="form-group">
          <label class="control-label" for="telofficeno">Tel office no</label>
          <input name="telofficeno" type="text" ng-model="vm.company.telofficeno" id="telofficeno" class="form-control" placeholder="Tel office no">
        </div>
        <div class="form-group">
          <label class="control-label" for="mobileno">Mobile no</label>
          <input name="mobileno" type="text" ng-model="vm.company.mobileno" id="mobileno" class="form-control" placeholder="Mobile no">
        </div>
        <div class="form-group">
          <label class="control-label" for="faxno">Fax no</label>
          <input name="faxno" type="text" ng-model="vm.company.faxno" id="faxno" class="form-control" placeholder="Fax no">
        </div>
        <div class="form-group">
          <label class="control-label" for="email">E-mail</label>
          <input name="email" type="email" ng-model="vm.company.email" id="email" class="form-control" placeholder="E-mail">
        </div>
        <div role="alert">
          <!--<span class="error" ng-show="vm.form.companyForm.email.$error.required">
        Required!</span>-->
          <span class="error" style="color:red;" ng-show="vm.form.companyForm.email.$error.email">
        Not valid email!</span>
        </div>
        <div class="form-group">
          <label class="control-label" for="contact">Contact</label>
          <input name="contact" type="text" ng-model="vm.company.contact" id="contact" class="form-control" placeholder="Contact">
        </div>
        <div class="form-group">
          <label class="control-label" for="website">Website</label>
          <input name="website" type="text" ng-model="vm.company.website" id="website" class="form-control" placeholder="Website">
        </div>
        <div class="form-group">
          <label class="control-label" for="creditday">Creditday</label>
          <input name="creditday" type="number" ng-model="vm.company.creditday" id="creditday" class="form-control" placeholder="Creditday">
        </div>
        <div class="form-group">
          <label class="control-label" for="note">Note</label>
          <input name="note" type="text" ng-model="vm.company.note" id="note" class="form-control" placeholder="Note">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.company._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>