<section>
  <div class="page-header">
    <h1 ng-bind="vm.company.name"></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <li class="list-group-item"><b>Account No : </b>{{vm.company.accountno}}</li>      
      <li class="list-group-item"><b>Company Name : </b>{{vm.company.name}}</li>
      <li class="list-group-item"><b>Address : </b>{{vm.company.address}}</li>
      <li class="list-group-item"><b>TAX ID : </b>{{vm.company.taxid}}</li>
      <li class="list-group-item" ng-show="vm.company.telofficeno"><b>Tel : </b>{{vm.company.telofficeno}}</li>
      <li class="list-group-item" ng-show="!vm.company.telofficeno"><b>Tel : </b>-</li>
      <li class="list-group-item" ng-show="vm.company.mobileno"><b>Mobile : </b>{{vm.company.mobileno}}</li>
      <li class="list-group-item" ng-show="!vm.company.mobileno"><b>Mobile : </b>-</li>
      <li class="list-group-item" ng-show="vm.company.faxno"><b>Fax : </b>{{vm.company.faxno}}</li>
      <li class="list-group-item" ng-show="!vm.company.faxno"><b>Fax : </b>-</li>
      <li class="list-group-item" ng-show="vm.company.email"><b>Email : </b>{{vm.company.email}}</li>
      <li class="list-group-item" ng-show="!vm.company.email"><b>Email : </b>-</li>
      <li class="list-group-item" ng-show="vm.company.contact"><b>Contact : </b>{{vm.company.contact}}</li>
      <li class="list-group-item" ng-show="!vm.company.contact"><b>Contact : </b>-</li>
      <li class="list-group-item" ng-show="vm.company.website"><b>Website : </b>{{vm.company.website}}</li>
      <li class="list-group-item" ng-show="!vm.company.website"><b>Website : </b>-</li>
      <li class="list-group-item" ng-show="vm.company.creditday"><b>Credit Day : </b>{{vm.company.creditday}}</li>
      <li class="list-group-item" ng-show="!vm.company.creditday"><b>Credit Day : </b>-</li>
      <li class="list-group-item" ng-show="vm.company.note"><b>Note : </b>{{vm.company.note}}</li>
      <li class="list-group-item" ng-show="!vm.company.note"><b>Note : </b>-</li>
    </div>
  </div>
  <br>

  <div class="pull-right" ng-show="vm.company.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="companies.edit({ companyId: vm.company._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.company.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.company.user"
            ng-bind="vm.company.user.displayName"></span>
      <span ng-if="!vm.company.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.company.content"></p>
</section>